{% extends ':base:base.html.twig' %}

{% block title %}Contribute as a Junior Validator{% endblock title %}

{% block body %}
<div id="page-body">

	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ styles_path }}">Styles</a>
			<strong>&#8249;</strong> <a href="{{ styles_contribute }}">Contribute</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep about">Contribute as a Junior Validator</h2>
		{% if S_JR_STYLES %}
			<p>
				The <a href="{{ styles_jv_group }}">Junior Style Validators Team</a> is composed of community members who assist the Styles Team in validating user-submitted styles in the Styles Database.
				<br /><br />
				Their role includes testing styles to ensure that everything displays and functions correctly and that they adhere with the rules set in place by the Styles Submission Policy. They are also the first responders when a submission enters the Styles Database, which consists of quickly checking submissions and pointing out those that contain major issues.
				<br /><br />
				The Styles Team will select new members from the Junior Style Validators Team. Users interested in joining the JSV Team should meet the following requirements:
			</p>
			<ul>
				<li>Must have comprehensive knowledge of xHTML, CSS, phpBB's default styles, and the templating system.</li>
				<li>Be able to communicate effectively in English.</li>
				<li>Be familiar with the <a href="{{ styles_ssp }}">Styles Submission Policy</a>.</li>
			</ul>
			<br />
			<p>
				If you meet these requirements and want to contribute to the phpBB project under the Styles Team, please fill out the form below.
			</p>

		{% if not S_IS_BOT %}
			{% if not S_USER_LOGGED_IN %}
			<div class="rules">
				<div class="inner">
					You must be <a href="{U_LOGIN_LOGOUT}">logged in</a> to fill out the form.
				</div>
			</div>
			{% else %}
			<br />
			<form method="post" action="{S_JR_ACTION}" id="jv">
				<div class="panel">
					<div class="inner">
						<h2>Apply for the Junior Style Validators Team</h2>
						<fieldset>
							<!-- IF ERROR --><dl><dd class="error">{ERROR}</dd></dl><!-- ENDIF -->
							<dl>
								<dt><label for="why">Why do you want to become a Jr. Style Validator?</label></dt>
								<dd><textarea name="why" id="why" class="inputbox" rows="4" cols="30">{WHY}</textarea></dd>
							</dl>
							<dl>
								<dt><label for="portfolio">What is your experience with phpBB styles, HTML, and CSS? Have you created any styles and are they approved in the Styles Database?</label></dt>
								<dd><textarea name="portfolio" id="portfolio" class="inputbox" rows="4" cols="30">{PORTFOLIO}</textarea></dd>
							</dl>
							<dl>
								<dt><label for="extra">Is there any additional information that you would like to share that is pertinent to this application?</label></dt>
								<dd><textarea name="extra" id="extra" class="inputbox" rows="4" cols="30">{EXTRA}</textarea></dd>
							</dl>
						</fieldset>
					</div>
				</div>
				<div class="panel">
					<div class="inner">
						<fieldset class="submit-buttons">
							<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
							<input type="submit" tabindex="9" name="submit" id="submit" value="{L_SUBMIT}" class="button1 default-submit-action" />
							{S_FORM_TOKEN}
						</fieldset>
					</div>
				</div>
			</form>
			{% endif %}
		{% endif %}
		{% endif %}
	</div>

	<div id="extras">
		{{ include('PhpbbWebsiteInterfaceBundle:Styles:menu.html.twig') }}
	</div>
</div>
{% endblock %}
