{% extends ':base:base.html.twig' %}

{% block title %}Styles Demo{% endblock title %}

{% block phpbb_body_class %}styles demo{% endblock %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ styles_path }}">Styles</a>
			<strong>&#8249;</strong> <a href="{{ styles_demo }}">Demo</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep styles">Styles Demo</h2>
		<p>Here are live demos for the phpBB board styles in the phpBB <a href="{{ styles_db_path }}">Styles Database</a>. You can preview them before downloading. Direct links to contribution details are also provided.</p>

		<div class="column1">
			<h3><span class="mini-tag blue">3.1.x</span><a href="{{ styles_demo_31x }}">Styles Demo for phpBB 3.1.x</a></h3>
			<p>Click here to see all the styles currently present in our Styles Database for phpBB 3.1.x. As time progresses, more and more will become available.</p>
		</div>
		<div class="column2">
			<h3><span class="mini-tag dirty-green">3.0.x</span><a href="{{ styles_demo_30x }}">Styles Demo for phpBB 3.0.x</a></h3>
			<p>Visit the 3.0.x Styles Demo for a preview of all the styles currently present in our Styles Database for phpBB 3.0.x.</p>
		</div>

		<span class="clear"></span>
	</div>

	<div id="extras">
		{{ include('PhpbbWebsiteInterfaceBundle:Styles:menu.html.twig') }}
	</div>
</div>
{% endblock %}
