<div class="mini-panel">
	<div class="inner">
	<h3><a href="{{ styles_path }}">Styles Section</a></h3>
	<ul class="menu">
		<li><a href="{{ styles_db_path }}">Styles Database</a></li>
		<li><a href="{{ styles_demo_olympus }}">Styles Demo</a></li>
		<li><a href="{{ forum_styles_31x }}">3.1 Styles Forums</a></li>
		<li><a href="{{ forum_styles_30x }}">3.0 Styles Forums</a></li>
		<li><a href="{{ styles_contribute }}">Contribute as a Junior Validator</a></li>
		<li class="last"><a href="{{ kb_path }}">Knowledge Base</a></li>
	</ul>
	</div>
</div>
