{% extends ':base:base.html.twig' %}

{% block title %}Styles Submission Policy{% endblock title %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ styles_path }}">Styles</a>
			<strong>&#8249;</strong> <a href="{{ styles_ssp }}">Styles Submission Policy</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep styles">Styles Submission Policy</h2>
		<p>I think it's better to have this as a proper page, rather than a community post. Thoughts?</p>
	</div>

	<div id="extras">
		{{ include('PhpbbWebsiteInterfaceBundle:Styles:menu.html.twig') }}
	</div>
</div>
{% endblock %}
