{% extends ':base:base.html.twig' %}

{% block title %}Styles Team Validation Statistics{% endblock title %}

{% block body %}
<div id="page-body">

	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ styles_path }}">Styles</a>
			<strong>&#8249;</strong> <a href="{{ styles_statistics }}">Validation Statistics</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep about">Styles Team Validation Statistics</h2>

	</div>

	<div id="extras">
		{{ include('PhpbbWebsiteInterfaceBundle:Styles:menu.html.twig') }}
	</div>
</div>
{% endblock %}
