{% extends ':base:base.html.twig' %}

{% block title %}Styles Team Overview{% endblock title %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ styles_path }}">Styles</a>
			<strong>&#8249;</strong> <a href="{{ styles_team_overview }}">Styles Team Overview</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep styles">Styles Team Overview</h2>
		<p>The Styles Team oversees all activities on phpBB.com with relation to styles, including the validation of styles submitted to the Customisation Database, maintaining useful style-related tools and scripts such as the prosilver GDK (Graphics Development Kit), and ensuring the smooth running of the styles forums on phpBB.com.</p>

		<h3>Styles Team</h3>
		<p>The Styles Team is a great place to get involved with open source software and to help the phpBB project.</p>
		<p>After getting invited to join the Styles Team, you will undergo training on how to moderate or how to validate styles and use the validation tools.</p>
		<p><em>As with all phpBB Teams, all positions on the Styles Team are unpaid volunteer positions.</em></p>
		<p>Current members are listed <a href="{{ styles_team_members|raw }}">here</a>.</p>

		<h3>Junior Validators</h3>
		<p>The Styles Team is always on the look-out for new Junior Validators. Junior Validators are style authors that assist the Styles Team with the validation of styles submitted to the Customisation Database. The task of a Junior Validator is to test styles in the Styles Queue (in the Customisation Database), and to offer feedback.</p>
		<p>Apply to become a <a href="{{ styles_junior_validators }}">Junior Validator</a> here.</p>
		<p>Current members are listed <a href="{{ styles_jv_team_members|raw }}">here</a>.</p>
	</div>

	<div id="extras">
		{{ include('PhpbbWebsiteInterfaceBundle:Styles:menu.html.twig') }}
	</div>
</div>
{% endblock %}
