{% extends ':base:base.html.twig' %}

{% block title %}Installing &amp; Using Styles{% endblock title %}

{% block phpbb_body_class %}styles{% endblock %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ styles_path }}">Styles</a>
			<strong>&#8249;</strong> <a href="{{ styles_installing }}">Installing &amp; Using Styles</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep styles">Installing &amp; Using Styles</h2>
		<p>Styles are downloadable packages which can be installed on a phpBB board to change the look and feel of the board. In this guide, we will walk you through the process of installing and using styles on your phpBB board. For a quick introduction into styles, please visit our <a href="{{ styles_docs_31x }}">User Guide</a>.</p>

		<div class="note-box yellow"><strong>Note:</strong> This guide only applies to phpBB 3.1.x. For older versions of phpBB (3.0.x) we suggest that you read the official <a href="{{ styles_docs_30x }}">3.0.x documentation</a> or this <a href="{{ styles_kb_30x_install }}">knowledge base article</a> instead.</div>

		<hr />

		<h2 class="title" id="a-anatomy">Anatomy of a Style</h2>
		<p>Inside your phpBB board's directory is a <code class="inline">styles/</code> folder. This is the location where all styles are stored, and where we will be uploading any future styles as well. Every style follows the same folder structure.</p>
		<p>phpBB 3.1.x styles have three main parts: templates, theme assets, and a config file.</p>
		<p><strong>Templates</strong><br />Templates are the HTML files responsible for the layout of the style. All template and JavaScript files (which can provide additional functionality) for a particular style are located in:</p>
		<pre class="codesnippet">phpBB/styles/my_style_name/template/</pre>
		<p><strong>Theme assets</strong><br />Theme assets are a combination of colour schemes and images that define the basic look of your forum. This generally includes CSS files (of which <samp>stylesheet.css</samp> is the most important) and any other audio-visual assets. These files are located in:</p>
		<pre class="codesnippet">phpBB/styles/my_style_name/theme/</pre>
		<p><strong>Config file</strong><br />A config file (style.cfg) contains the meta-information about a style, as well as machine-instructions for your phpBB board. This file is required, or else your phpBB board will not recognize the style. You can find it at:</p>
		<pre class="codesnippet">phpBB/styles/my_style_name/style.cfg</pre>

		<hr />

		<h2 class="title" id="a-installing">Installing a Style</h2>
		<div class="note-box blue"><strong>Note:</strong> This guide assumes that you have correctly set up phpBB 3.1.x and have it operational. Direct write-access to your server's files (via FTP or other) is also required.</div>

		<h3>1. Choosing a Style</h3>
		<p>It is recommended to only download styles from phpBB's <a href="{{ styles_db_path }}">Customisation Database</a> as this is a trusted source where all styles have been validated by the Styles Team. All styles downloaded from the Customisation Database should be ready to be uploaded to your board's <code class="inline">styles/</code> folder.</p>
		<p>Additionally, you could try your luck with styles that haven't been validated yet (and therefor not included in the database). There are numerous styles availble in the <a href="{{ forum_styles_31x_dev }}">[3.1.x] Styles in Development</a> section of the community forums.</p>

		<div class="note-box yellow"><strong>Note:</strong> Make absolutely sure that the style you downloaded is for phpBB 3.1.x. Styles created for phpBB 3.0.x are <span class="underline">not</span> compatible!</div>

		<h3>2. Download and unzip</h3>
		<p>Once you have downloaded a style, you will need to unpackage it on your computer, as styles are typically available in the compressed "zip" file format.</p>
		<p>In Windows, to unzip the style, simply double click it from the Windows Explorer view (for instance, if you downloaded the style to My Documents, you would open My Documents and double click the file). Proceed to click "Extract all files" under the address bar (Windows Vista, 7 and 8) or under the Folder Tasks menu (Windows XP) from within the Explorer window and follow the prompts.</p>
		<p>On Mac, zipped files are automatically unzipped upon download by Safari (this setting can be disabled by unticking "Open safe files" in Safari's preferences) and can be accessed through the downloads list.</p>
		<p>Make sure that your style includes all the required parts as described in the <a href="#a-anatomy">Anatomy of a Style</a> section (templates, theme assets, and style.cfg).</p>

		<h3>3. Upload to your board</h3>
		<p>To upload files, open your favourite FTP client (such as FileZilla, CuteFTP, SmartFTP, etc - even some internet web browsers have this capability) and log in to your hosting account. Generally your publicly accessible files will be in an area named "<samp>public_html</samp>", "<samp>www</samp>" or similar.</p>
		<p>Upload your style files (the entire folder) to the <code class="inline">styles/</code> directory inside your phpBB 3.1.x root directory. You can check if you have uploaded it correctly by looking at the location of the <samp>style.cfg</samp> file. It should be located at:</p>
		<pre class="codesnippet">phpBB/styles/my_style_name/style.cfg</pre>

		<h3>4. Install</h3>
		<p>Once the style has been uploaded, navigate in the board's ACP to Customise -> Install Styles. You should see your recently uploaded styles listed (assuming you uploaded it to the correct location and the style is valid), with an option to "<samp>Install style</samp>". Simply click it and the installation is complete!</p>
		<div class="note-box yellow"><strong>Note:</strong> If your new style uses "template inheritance" (a method that style authors use to build styles "on top of" existing styles), make sure that you have the "parent" style installed first. phpBB will refuse to install a style if it cannot detect the parent.</div>

		<hr />

		<h2 class="title" id="a-managing">Managing Styles</h2>
		<h3>The Styles Tree (style inheritance)</h3>
		<p>Many styles start off by modifying existing styles (such as prosilver), because creating a completely new style from scratch is an extremely time consuming undertaking. Template inheritance has been part of phpBB 3 for a while now, and you will likely encounter it.</p>
		<p>You can easily see the hierarchy (parent/child relations) of your installed styles by looking at the "Style Management" page in your ACP. It might look like this:</p>
			<pre class="codesnippet">prosilver
    prosilver Special Edition
        prosilver SE Red Edition
        prosilver SE Gold Edition
newstyle pro
    newstyle ultra
        newstyle ultra-black
    newstyle mono</pre>
		<p>While it is theoretically possible to edit the inheritance hierarchy, this will most likely create all kinds of problems. Most styles will detect automatically which other style they should use as "parent". So it's best to leave it alone.</p>

		<h3>Default Style Settings</h3>
		<p>In general, users of your board will be able to switch between different styles (via the UCP) to suit their preference. There are a few methods however, which can give board admins greater control over the use of styles by their users. These settings can be changed by navigating in the board's ACP to General -> Board Configuration -> Board settings.</p>
		<ul class="list-margin">
			<li><em>Default style:</em> the selected style will be the default style for registered users (until they choose to change their board preferences in the UCP).</li>
			<li><em>Guest style:</em> the selected style will be the default style for unregistered visitors (guests).</li>
			<li><em>Override user style:</em> this option will force all users (and guests) to use the default style, regardless of what their personal settings are.</li>
		</ul><br />

		<hr />

		<h2 class="title" id="a-editing">Editing Styles</h2>
		<div class="note-box yellow"><strong>Note:</strong> Editing a style is no trivial matter. Unless you have at least some knowledge of HTML and CSS and know what you are doing, we advise against the editing of styles.</div>
		<div class="note-box yellow"><strong>Note:</strong> Always check to see if there are <a href="{{ extensions_cdb }}">extensions</a> available which provide the changes you need. Editing styles should be a last resort.</div>
		<p>As mentioned in the <a href="#a-anatomy">Anatomy of a Style</a> section, a style consists of multiple parts. Depending on what exactly you want to change, you will either have to edit the template or theme asset files.</p>
		<p>Since it is usually not possible to edit files directly on your server, you will need to make all your edits on a "local" copy (on your own PC). It's generally good practice to have a local copy of your entire board, so you can test your changes before uploading them to a "live" board.</p>
		<p>In any case: you will need to get a local copy of your style, either by downloading the style's files from your own board (via FTP), or edit the files from the style's download package (which you downloaded from the <a href="{{ styles_db_path }}">Styles Database</a>).</p>
		<div class="note-box blue"><strong>Note:</strong> We will only cover a few basics here (for inexperienced users). For more detailed information, please visit the <a href="{{ styles_create }}">Creating &amp; Modifying Styles</a> page.</div>
		<div class="note-box green"><strong>Pro-Tip:</strong> If you want to make many changes to your style, we suggest creating a "child" style based on your current style. Read the <a href="{{ styles_create }}">Creating &amp; Modifying Styles</a> page for more information.</div>

		<h3>Preparation</h3>
		<p>In order to edit web-files, you will need a text-editor. You can use any text-editor you want, but some are smarter than others. <a href="http://notepad-plus-plus.org/download/">Notepad++</a> is a very good free text-editor, which has numerous options that can make your life easier when it comes to editing web-files.</p>
		<p>Another "must-have" are the developer tools of your browser. If you have a modern browser (doesn't matter which vendor), you already have these tools. Simply pressing F12 on your keyboard (while browsing) will activate the developer tools in most browsers. These are absolutely essential if you want to edit and test your changes (and inspect the page in case something isn't working as expected).</p>

		<h3>Template Editing</h3>
		<p>Templates hold the greatest power when it comes to styles. You can basically add anything you want (as long as you have the skills). Covering all the different aspects of the template system would be beyond the scope of this guide. So instead, we will provide pointers to the most commonly edited files.</p>
		<p>The list provided below refers to the files as they are in prosilver (3.1.x), but many styles adhere to the same general structure.</p>
		<ul class="list-margin">
			<li><samp>template/overall_header.html:</samp> arguably the most important template. Controls the "top" of every page, as well as the <samp>&lt;head&gt;</samp> element.</li>
			<li><samp>template/overall_footer.html:</samp> controls the "bottom" of every page.</li>
			<li><samp>template/navbar_header.html:</samp> controls the main navigation elements in the header.</li>
			<li><samp>template/navbar_footer.html:</samp> controls the main navigation elements in the footer.</li>
			<li><samp>template/index_body.html:</samp> controls the structure of the forum index page.</li>
			<li><samp>template/viewforum_body.html:</samp> controls the structure of the forum view.</li>
			<li><samp>template/viewtopic_body.html:</samp> controls the structure of the topic view..</li>
		</ul>
		<br />
		<p>For more information on how to use the various template tags and conditionals, we advise you to take a look at our Development Wiki. At this time, there are no dedicated entries yet specifically for 3.1.x Styles, but a few important pages are still applicable:</p>
		<ul class="list-margin">
			<li><a href="https://wiki.phpbb.com/Tutorial.Template_syntax">Template Syntax Tutorial</a></li>
			<li><a href="https://wiki.phpbb.com/Category:Template_Variables">Catalogue of available Template Variables</a></li>
			<li><a href="https://wiki.phpbb.com/Template_errors">Common Template Errors</a></li>
		</ul>
		<br />
		<div class="note-box blue"><strong>Note:</strong> phpBB's template-engine has to process (compile) the style's templates before it can display them. This is resource-intensive process, so it "caches" the finished pages for quicker access. If you make changes to template files, you will need to "purge" (clear) the board's cache (or else your changes will not appear). You can do this by navigating to the board's ACP and clicking the button at "Purge the cache".</div>

		<h3>Theme Editing</h3>
		<p>Themes are where the creativity comes into play. Editing the CSS files inside the <code class="inline">theme/</code> directory can have a wide range of effects. Most users however, simply want to change a few colours, images, fonts, or text-size. This is where a good text-editor can really save time (since it will warn you about syntax and other errors).</p>
		<p>Users often know what they would like to change, but they simply don't know which files to edit (and which lines in particular). This is where the (F12) develop tools are your best friend. The specifics for each browser might differ slightly, but this <a href="https://developer.chrome.com/devtools/docs/dom-and-styles#styles">inspection guide for Google Chrome</a> will tell you everything you need to know.</p>
		<p>Once you have identified the CSS rules or classes which control the element you want to change, simply lookup the class name inside your style's .css files. Once you have made the changes you desire, upload your style's files.</p>
		<div class="note-box blue"><strong>Note:</strong> Old theme assets will sometimes remain in your browser's cache, which will prevent you from seeing the changes to your website. A "hard-refresh" usually solves this problem. This is usually done with the CTRL+F5 keyboard shortcut.</div>

		<hr />

		<h2 class="title" id="a-updating">Updating a Style</h2>
		<p>Styles can be updated without any prior steps. All you need to do is simply upload the style's files to the same location as the old style, and let the files be overwritten.</p>
		<p>Finally, simply navigate to your board's ACP index, and click the button at "<samp>Purge the cache</samp>".</p>
		<div class="note-box red"><strong>Warning:</strong> If you have made changes to the style you are about to update, you will lose all your changes! So be sure to make a backup of your style's files before updating. After updating your style, you can reapply your changes.</div>

		<hr />

		<h2 class="title" id="a-removing">Removing a Style</h2>
		<p>Sometimes it is necessary to remove a style. phpBB allows you to deactivate a style or to permanently uninstall it from your board.</p>

		<h3>1. Deactivate</h3>
		<p>Deactivating a style will effectively turn it off, hiding it from your board. However, all the style's files will remain on your server as well as entries in your database. So you can re-enable the style without your users losing their original style preference. To deactivate a style, simply click its "<samp>Deactivate</samp>" link in the Style Management page.</p>

		<h3>2. Uninstall</h3>
		<p>To uninstall a style, click the "<samp>Uninstall</samp>" link in the Style Management page. This will effectively remove the style from your board, as well as all database settings relating to it. You will get an option to also delete the actual files from your server.</p>
		<div class="note-box red"><strong>Warning:</strong> Be careful when using the "Delete from filesystem" option! It is permanent and <span class="underline">cannot</span> be undone. You will have to upload the style's files again before you can use it again.</div>

		<hr />

		<h2 class="title" id="a-links">Additional Resources</h2>
		<p>We hope you found this guide informative and helpful. Feel free to browse some of our other resources:</p>
		<p>
			<a href="{{ styles_db_path }}">Styles Database</a><br />
			<a href="{{ styles_support }}">Styles Support</a><br />
			<a href="{{ styles_create }}">Creating &amp; Modifying Styles</a><br />
			{# <a href="{{ styles_changes }}">Style Changes</a><br /> #}
			<a href="{{ forum_styles_31x }}">[3.1.x] Styles Forum</a>
		</p>

		<small>If you have any suggestions or remarks relating to this guide, feel free to contact the <a href="{{ styles_team_overview }}">Styles Team</a>.</small>
		<br />
		<br />
	</div>

	<div id="extras">
		{{ include('AppBundle:Styles:menu.html.twig') }}
		<div class="mini-panel js-sections js-scroll" style="display: none;"></div>
	</div>
</div>
{% endblock %}
