{% extends ':base:base.html.twig' %}

{% block title %}Junior Validators{% endblock title %}

{% block phpbb_body_class %}styles{% endblock %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ styles_path }}">Styles</a>
			<strong>&#8249;</strong> <a href="{{ styles_team_overview }}">Styles Team Overview</a>
			<strong>&#8249;</strong> <a href="{{ styles_junior_validators }}">Junior Validators</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep styles">Junior Validators</h2>
		<p>The Junior Style Validators Team is composed of community members (often style authors) who assist the Styles Team in validating user-submitted styles in the <a href="{{ styles_db_path }}">Styles Database</a>.</p>
		<p>Their role includes testing styles to ensure that everything displays and functions correctly and that they adhere with the rules set in place by the <a href="{{ styles_rules_submit }}">Styles Submission Policies</a>. They are also the first responders when a submission enters the Styles Database, which consists of quickly checking submissions and pointing out those that contain major issues.</p>

		<h3>What are the duties of a Junior Style Validator?</h3>
		<p>Junior Style Validators download and install newly submitted Style from the Styles section of the <a href="{{ cdb_path }}">Customisation Database</a>. They check for any visible errors with the styles and together create a report with comments and suggestions. The style then receives a status ('Validating', 'deny', 'repack', etc.) and continues through the validation process. If any issues are found, the styles author receives a helpful report from the Styles Team.</p>

		<h3>Why should I become a Junior Style Validator?</h3>
		<ul class="list-margin">
			<li>Directly contribute to one of the greatest OSS communities on the internet.</li>
			<li>Work your way toward full team membership and the awesome pink rank.</li>
			<li>Collaborate with other individuals from around the world while improving your existing skills.</li>
		</ul>
		<p>As a Junior Validator you will also gain access to our private forums and IRC Channel.</p>

		<h3>What are the requirements?</h3>
		<p>The Styles Team will select new members from the Junior Style Validators Team. Users interested in joining the JSV Team should meet the following requirements:</p>
		<ul class="list-margin">
			<li>Must have comprehensive knowledge of HTML, CSS, phpBB's default styles, and the templating system.</li>
			<li>Be able to communicate effectively in English.</li>
			<li>Be familiar with the <a href="{{ styles_rules_submit }}">Styles Submission Policies</a>.</li>
		</ul>

		<h3>Where can I apply?</h3>
		<p>If you meet these requirements and want to contribute to the phpBB project under the Styles Team, you can apply to become a Junior Style Validator by contacting <a href="{{ styles_tl_contact }}">{{ styles_tl_name }}</a>. Successful applicants will receive a private message with additional information.</p>
		<br />
	</div>

	<div id="extras">
		{{ include('AppBundle:Styles:menu.html.twig') }}
	</div>
</div>
{% endblock %}
