{{ include('AppBundle::ascraeus.html.twig') }}
<div class="mini-panel">
	<div class="inner">
	<h3><a href="{{ styles_path }}">Styles</a></h3>
	<ul class="menu">
		<li><a href="{{ styles_db_path }}">Styles Database</a></li>
		<li><a href="{{ styles_demo }}">Styles Demo</a></li>
		<li><a href="{{ styles_installing }}">Installing &amp; Using Styles</a></li>
		<li><a href="{{ styles_support }}">Styles Support</a></li>
		<li><a href="{{ forum_styles_31x }}">3.1.x Styles Forums</a></li>
		<li><a href="{{ forum_styles_30x }}">3.0.x Styles Forums</a></li>
		<li><a href="{{ styles_create }}">Creating &amp; Modifying Styles</a></li>
		{# <li><a href="{{ styles_changes }}">Style Changes</a></li> #}
		<li><a href="{{ styles_rules }}">Styles Rules &amp; Policies</a></li>
		<li><a href="{{ styles_team_overview }}">Styles Team</a></li>
		<li class="last"><a href="{{ kb_path }}">Knowledge Base</a></li>
	</ul>
	</div>
</div>
