{% extends ':base:base.html.twig' %}

{% block title %}Styles Team Overview{% endblock title %}

{% block phpbb_body_class %}styles{% endblock %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ styles_path }}">Styles</a>
			<strong>&#8249;</strong> <a href="{{ styles_team_overview }}">Styles Team Overview</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep styles">Styles Team Overview</h2>
		<p>The Styles Team oversees all activities on phpBB.com with relation to styles, including the validation of styles submitted to the <a href="{{ cdb_path }}">Customisation Database</a>, maintaining useful style-related tools and scripts such as the prosilver GDK (Graphics Development Kit), and ensuring the smooth running of the styles forums on phpBB.com. Additionally, they help by assisting users in the forums with style related questions.</p>

		<h3>Styles Team</h3>
		<p>The Styles Team assists in the usual day to day tasks (validation & support) as well as other internal projects. Potential Styles Team members that will be tasked with validation and support are expected to have an active involvement in the Styles Support forums and to show a clear understanding of the phpBB templating system and HTML/CSS. Extensive knowledge of the default styles shipped with phpBB, particularly prosilver, is also an essential requirement to join the team.</p>
		<p>The Styles Team is a great place to get involved with open source software and to help the phpBB project. After getting invited to join the Styles Team, you will undergo training on how to moderate or how to validate styles and use the validation tools.</p>
		<p><em>As with all phpBB Teams, all positions on the Styles Team are unpaid volunteer positions.</em></p>
		<p>Current members are listed <a href="{{ styles_team_members }}">here</a>.</p>

		<h3><a href="{{ styles_junior_validators }}">Junior Validators</a></h3>
		<p>The Styles Team is always on the look-out for new Junior Validators. Junior Validators are style authors that assist the Styles Team with the validation of styles submitted to the <a href="{{ cdb_path }}">Customisation Database</a>. The task of a Junior Validator is to test styles in the Styles Queue (in the Customisation Database), and to offer feedback.</p>
		<p>The Jr. Style Validator team is also a main entry point for potential new Style Team members. If you are interested in becoming a Jr. Style Validator, you are encouraged to apply <a href="{{ styles_junior_validators }}">here</a>.</p>
		<p>Current members are listed <a href="{{ styles_jv_team_members }}">here</a>.</p>
	</div>

	<div id="extras">
		{{ include('AppBundle:Styles:menu.html.twig') }}
	</div>
</div>
{% endblock %}
