<div id="page-footer">
		<h3 style="padding-top: 8px;">&#097;&#100;&#118;&#101;&#114;&#116;&#105;&#115;&#101;&#109;&#101;&#110;&#116;&#115;</h3>
		<div id="footer_banner_leaderboard">
			{% include ':base:ads_footer_banner.html.twig' %}
		</div>

		<p class="lynkorama">
			<strong><a href="https://www.phpbb.com/hosting/r/bluehost-footer/" class="text-links-favicon" style="background-image: url(/theme/images/favicons/bluehost.png);"{% if bot %} rel="nofollow"{% endif %}>&nbsp;BlueHost.com</a></strong> &bull;

			<a href="http://www.webhosting.uk.com/"{% if bot %} rel="nofollow"{% endif %}>Web Hosting UK</a> &bull;
			<a href="http://www.hostmonster.com/track/phpbbsoftwareltd/footer"{% if bot %} rel="nofollow"{% endif %}>HostMonster</a> &bull;
			<a href="http://www.heartinternet.co.uk/index.html"{% if bot %} rel="nofollow"{% endif %}>Reseller Web Hosting UK</a> &bull;
			<a href="http://hosting.fastdomain.com/track/phpbbsoftwareltd/footer"{% if bot %} rel="nofollow"{% endif %}>FastDomain Hosting</a> &bull;
			<a href="{{ path('OldSitePages_advertise') }}"><em>Advertise on phpBB.com</em></a>
		</p>
		<span class="fcorners-bottom"><span></span></span>
	</div>
</div>

{% block copyright %}
<div id="copyright">
	2001 - 2013 <a href="{{ path('OldSitePages_about') }}">phpBB Limited</a>
	&bull; <a href="{{ path('OldSitePages_contact') }}">Contact Us</a>
	&bull; <a href="{{ path('OldSitePages_advertise') }}">Advertise on www.phpbb.com</a>
	<br />
	Header illustrations by <a href="http://www.vladstudio.com/">Vlad Gerasimov</a>
	&bull; Designed by <a href="{{ path('phpBBWebsiteInterfaceBundle_homepage') }}">phpBB</a>
	&bull; Hosting donated by <a href="http://www.osuosl.org">OSUOSL</a><br />
	{% if app.debug %}
		Request method: {{ app.request.method }}<br />
		Application Environment: {{ app.environment }}
	{% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src=""></script>
{% endblock %}

</body>
</html>
