{% block doctype %}<!DOCTYPE html>
<html>{% endblock %}
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="en-gb" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="phpBB is free and open source forum software that is easy to use, powerful, and highly customisable. Our community offers extensive support to end users." />
<meta name="application-name" content="phpBB" />
<meta name="msapplication-tooltip" content="phpBB &bull; Free and Open Source Forum Software" />
<meta name="msapplication-starturl" content="/" />
<meta name="msapplication-window" content="width=1024;height=768" />
<meta name="msapplication-task" content="name=Home; action-uri=/; icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Community; action-uri=/community/; icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Blog; action-uri=http://blog.phpbb.com/; icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Customise; action-uri=/customise/; icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Area51; action-uri=http://area51.phpbb.com/; icon-uri=favicon.ico" />


<title>{% block title %}phpBB &bull; Free and Open Source Forum Software{% endblock %}</title>

{% block head_assets %}
<link rel="stylesheet" href="https://phpbb.com/community/style.php?id=1&amp;lang=en" />
{% stylesheets
	'@phpBBWebsiteInterfaceBundle/Resources/public/css/*' %}

	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="shortcut icon" href="{{ asset('/favicon.ico') }}" type="image/vnd.microsoft.icon" />
{% endblock %}

</head>

<body id="phpbb" class="home ltr">

<div id="wrap">
	<a id="top" name="top" accesskey="t"></a>
	<div id="page-header">
		<span class="side-left"></span>
		<div class="header" style="position: relative;">
			{% block header_button %}{% endblock %}
			<h1 id="logo-banner"><a href="/">phpBB &bull; Free and Open Source Forum Software</a></h1>
			<div id="top-social" class="top-social-home">
				<div id="top-social-icons">
					<a href="/feeds/rss/"><img src="{{ asset('assets/images/icons/rss-20.png') }}" alt="RSS" /></a>
					<a href="http://www.facebook.com/phpBB"><img src="{{ asset ('assets/images/icons/facebook-20.png') }}" alt="Facebook" /></a>
					<a href="http://www.twitter.com/phpbb"><img src="{{ asset('assets/images/icons/twitter-20.png') }} " alt="Twitter" /></a>
				</div>
			</div>
		</div>
		<span class="side-right"></span>
	</div>

	<div id="navbar">
		<ul>
			<li class="but-about">
				<a href="/about/"><span></span>About</a>

				<div class="sub-menu sub-menu-extra">
					<ul>
						<li>
							<h4><a href="about/features/?from=submenu">Features</a></h4>
							<p><a href="about/features/?from=submenu">Learn about the features that phpBB has to offer.</a></p>
						</li>
						<li>
							<h4><a href="/demo/?from=submenu">Demo</a></h4>
							<p><a href="/demo/?from=submenu">Give phpBB a try with a fully-featured demo board.</a></p>
						</li>
						<li>
							<h4><a href="/showcase/?from=submenu">Showcase</a></h4>
							<p><a href="/showcase'/?from=submenu">A showcase of popular and unique sites using phpBB.</a></p>
						</li>
						<li class="last">
							<h4><a href="/get_involved/">Get Involved</a></h4>
							<p><a href="/get_involved/">Learn how you can get involved with the project.</a></p>
						</li>
					</ul>
					<ul>
						<li>
							<h4><a href="/about/team/?from=submenu">The Team</a></h4>
							<p><a href="/about/team/?from=submenu">Find out who is responsible for all the mayhem.</a></p>
						</li>
						<li>
							<h4><a href="/about/contact_us.php?from=submenu">Contact Us</a></h4>
							<p><a href="/about/contact_us.php?from=submenu">Have a question the forums don't answer? Come here.</a></p>
						</li>
						<li class="last">
							<h4><a href="/about/advertise/?from=submenu">Advertising</a></h4>
							<p><a href="/about/advertise/?from=submenu">Information if you want to advertise on phpBB.com.</a></p>
						</li>
					</ul>
					<div class="sub-menu-bottom"><a href="/about/">Find out more about the project &raquo;</a></div>

				</div>

			</li>
			<li class="but-downloads"><a href="/downloads/"><span></span>Downloads</a>

				<div class="sub-menu">
					<ul>
						<li>
							<h4><a href="/downloads/?from=submenu">Latest Version</a></h4>
							<p><a href="/downloads/?from=submenu">Download the latest stable release of phpBB</a></p>
						</li>
						<li>
							<h4><a href="/downloads/?from=submenu">Update Packages</a></h4>
							<p><a href="/downloads/?from=submenu">Automatic Update packages for your phpBB release</a></p>
						</li>
						<li class="last">
							<h4><a href="/languages/?from=submenu">Language Packs</a></h4>
							<p><a href="/languages/?from=submenu">Translate phpBB into (almost) any language you like.</a></p>
						</li>
					</ul>
					<ul>
						<li>
							<h4><a href="/customise/db/modifications-1/?from=submenu">Modifications</a></h4>
							<p><a href="/customise/db/modifications-1/?from=submenu">Download validated MODs to extend phpBB&rsquo;s functionality.</a></p>
						</li>
						<li>
							<h4><a href="/customise/db/styles-2/?from=submenu">Styles</a></h4>
							<p><a href="/customise/db/styles-2/?from=submenu">Your forums need a new look? Browse our Styles DB.</a></p>
						</li>
						<li class="last">
							<h4><a href="/demo/">Demo</a></h4>
							<p><a href="/demo/">Give phpBB a try with a fully-featured demo board.</a></p>
						</li>

					</ul>
					<div class="sub-menu-bottom"></div>
				</div>

			</li>
			<li class="but-customise"><a href="/customise/db/"><span></span>Customise</a>

				<div class="sub-menu">
					<ul>
						<li>
							<h4><a href="/mods/">Modifications</a></h4>
							<p><a href="/mods/">Guides on how to use them and how to create your own.</a></p>
						</li>
						<li>
							<h4><a href="/customise/db/modifications-1/?from=submenu">Modification database</a></h4>
							<p><a href="/customise/db/modifications-1/?from=submenu">Download and submit your work to the MOD database.</a></p>
						</li>
						<li class="external last" title="Opens an external link.">
							<h4><a href="https://wiki.phpbb.com/?from=submenu">Development Wiki</a></h4>
							<p><a href="https://wiki.phpbb.com/?from=submenu">Share experience and learn more about the codebase.</a></p>
						</li>

					</ul>

					<ul>
						<li>
							<h4><a href="/styles/">Styles</a></h4>
							<p><a href="/styles/">Guides on how to use them and to create your own Styles.</a></p>
						</li>
						<li>
							<h4><a href="/customise/db/styles-2/?from=submenu">Styles database</a></h4>
							<p><a href="/customise/db/styles-2/?from=submenu">Download and submit your Styles to our Styles database.</a></p>
						</li>
						<li class="last">
							<h4><a href="/styles/demo/3.0/?from=submenu">Styles Demo</a></h4>
							<p><a href="/styles/demo/3.0/?from=submenu">Test drive all the Styles from our database.</a></p>
						</li>

					</ul>
					<div class="sub-menu-bottom"></div>
				</div>

			</li>
			<li class="but-support"><a href="/support/"><span></span>Support</a>

				<div class="sub-menu sub-menu-extra">
					<ul>
						<li>
							<h4><a href="/support/documentation/3.0/?from=submenu">Documentation</a></h4>
							<p><a href="/support/documentation/3.0/?from=submenu">Installation guide and the complete documentation.</a></p>
						</li>
						<li>
							<h4><a href="/kb/?from=submenu">Knowledge Base</a></h4>
							<p><a href="/kb/?from=submenu">Team and user submitted ar&shy;ticles covering support areas.</a></p>
						</li>
						<li>
							<h4><a href="/support/tutorials/3.0/?from=submenu">Flash Tutorials</a></h4>
							<p><a href="/support/tutorials/3.0/?from=submenu">View Flash Tutorials that help you with the use of phpBB.</a></p>
						</li>
					</ul>
					<ul>
						<li>
							<h4><a href="/support/forums/?from=submenu">Support Forums</a></h4>
							<p><a href="/support/forums/?from=submenu">Please use the search facility before posting a question.</a></p>
						</li>
						<li>
							<h4><a href="/support/irc/?from=submenu">IRC Support</a></h4>
							<p><a href="/support/irc/?from=submenu">Old school? Visit the IRC support channel on freenode.</a></p>
						</li>
						<li class="last">
							<h4><a href="/support/intl/?from=submenu">International Support</a></h4>
							<p><a href="/support/intl/?from=submenu">Find a 3rd party support site in your first language.</a></p>
						</li>
					</ul>
					<div class="sub-menu-bottom"><a href="/support/">More information on support &raquo;</a></div>
				</div>

			</li>
			<li class="but-development"><a href="/development/"><span></span>Development</a>

				<div class="sub-menu sub-menu-extra">
					<ul class="wide-menu">
						<li class="external wide-menu-item" title="Opens an external link.">
							<h4><a href="//area51.phpbb.com/">Area51 phpBB Development</a></h4>
							<img style="float:right;" src="{{ asset('assets/images/aliens/alien32.png') }}" alt="Area51 Alien" />
							<p><a href="//area51.phpbb.com/">All Development Discussion takes place at Area51. Bug tracker, development wiki, continuous integration and other development tools are located here. Find out how to get involved in phpBB development.</a></p>
						</li>
					</ul>
					<ul>
						<li class="external" title="Opens an external link.">
							<h4><a href="http://tracker.phpbb.com/">phpBB Bug Tracker</a></h4>
							<p><a href="http://tracker.phpbb.com/">Report problems with phpBB here.</a></p>
						</li>
						<li class="last">
							<h4><a href="/bugs/?from=submenu">phpBB Projects Tracker</a></h4>
							<p><a href="/bugs/?from=submenu">Report issues with the Website, Customisation Database, and Team Tools here</a></p>
						</li>
					</ul>
					<ul>
						<li>
							<h4><a href="/security/?from=submenu">Security Tracker</a></h4>
							<p><a href="/security/?from=submenu">The tracker for security issues in phpBB or validated MODs.</a></p>
						</li>
						<li class="external last" title="Opens an external link.">
							<h4><a href="//wiki.phpbb.com/">Development Wiki</a></h4>
							<p><a href="//wiki.phpbb.com/">Share experience and learn more about the codebase.</a></p>
						</li>
					</ul>
					<div class="sub-menu-bottom"><a href="/development/">Participate in phpBB development now &raquo;</a></div>
				</div>

			</li>
			<li class="but-blog"><a href="//blog.phpbb.com/"><span></span>Blog</a></li>
			<li class="but-community"><a href="/community/"><span></span>Community</a>

				<div class="sub-menu sub-menu-extra">
					<ul>
						<li>
							<h4><a href="/community/viewforum.php?from=submenu&amp;f=46">Support Forums</a></h4>
							<p><a href="/community/viewforum.php?from=submenu&amp;f=46">Help with installation &amp; running phpBB &ndash; search first!</a></p>
						</li>
						<li>
							<h4><a href="/community/viewforum.php?from=submenu&amp;f=81">Modification Forums</a></h4>
							<p><a href="/community/viewforum.php?from=submenu&amp;f=81">Discuss and view MODs that are available for download.</a></p>
						</li>
						<li class="last">
							<h4><a href="/community/viewforum.php?from=submenu&amp;f=80">Styles Forums</a></h4>
							<p><a href="/community/viewforum.php?from=submenu&amp;f=80">Discuss and view Styles that are available for download.</a></p>
						</li>
					</ul>
					<ul>
						<li>
							<h4><a href="/community/viewforum.php?from=submenu&amp;f=64">phpBB Discussion</a></h4>
							<p><a href="/community/viewforum.php?from=submenu&amp;f=64">Discussions on all things phpBB: features, future, etc.</a></p>
						</li>
						<li>
							<h4><a href="/community/viewforum.php?from=submenu&amp;f=6">General Discussion</a></h4>
							<p><a href="/community/viewforum.php?from=submenu&amp;f=6">General discussion and intelligent conversations.</a></p>
						</li>
						<li class="external" title="Opens an external link.">
							<h4><a href="//area51.phpbb.com/phpBB/">Area51</a></h4>
							<p><a href="//area51.phpbb.com/phpBB/">Bleeding edge testing and development discussion.</a></p>
						</li>
					</ul>
					<div class="sub-menu-bottom"><a href="/community/">&#0133; and many more forums &raquo;</a></div>
				</div>

			</li>
			<li class="but-hosting"><a href="/hosting/"><span></span>Hosting</a></li>
			<li id="searchbox">
				<fieldset>
					<!-- Google CSE Search Box Begins -->
					<form method="get" action="/search/">
						<p><input name="q" id="q" type="text" size="40" value="" /></p>
					</form>
				</fieldset>
			</li>
		</ul>
	</div>
