<!--[if lt IE 9]>
    <script type="text/javascript" src="{{ asset('assets/js/jquery-1.10.2.min.js') }}"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script type="text/javascript" src="{{ asset('assets/js/jquery-2.0.3.min.js') }}"></script>
<!--<![endif]-->

<script type="text/javascript" src="{{ asset('assets/js/jquery-migrate-1.2.1.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/jquery.hoverIntent.minified.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.qtip-1.0.0-rc3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>

<script type="text/javascript">
// <![CDATA[
	var jump_page = 'Enter the page number you wish to go to:';
	var on_page = '';
	var per_page = '';
	var base_url = '';
	var style_cookie = 'phpBBstyle';
	var style_cookie_settings = '; path=/; domain=.phpbb.com; secure';
	var onload_functions = new Array();
	var onunload_functions = new Array();
// ]]>
</script>

<!--[if IE 6]>
	<link href="{{ asset('assets/theme/ie6.css') }}" rel="stylesheet" type="text/css" />
<![endif]-->

<script type="text/javascript">
// <![CDATA[
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-93879-2']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
// ]]>
</script>

{# 3.1 launch countdown timer. Can be removed after launch #}
<script type="text/javascript" src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
<script type="text/javascript">
	$(function() {
		var $timerBox = $('#countdown-timer');
		$timerBox.html('<span class="timer-big">00</span><span class="timer-small">time left</span>');
		var $timerBig = $timerBox.find('.timer-big');
		var $timerSmall = $timerBox.find('.timer-small');
		var number = '';
		var unit = '';

		var utc = new Date('Tue Oct 28 2014 17:00:00 GMT+0000 (UTC)').getTime();

		$timerBox.countdown(utc).on('update.countdown', function(event) {
			if (event.offset.days > 0) {
				number = event.strftime('%D');
				unit = 'days left';
			} else if (event.offset.hours > 0) {
				number = event.strftime('%H');
				unit = 'hours left';
			} else if (event.offset.minutes > 0) {
				number = event.strftime('%M');
				unit = 'minutes';
			} else if (event.offset.seconds > 0) {
				number = event.strftime('%S');
				unit = 'seconds';
			}
			$timerBig.html(number);
			$timerSmall.html(unit);
		}).on('finish.countdown', function() {
			$timerBig.html('3.1');
			$timerSmall.html('go get it!');
			$timerBox.attr('href', '{{ U_DOWNLOADS }}');
		});

		$timerBox.show();
	});
</script>
