{% extends ':base:base.html.twig' %}

{% block title %}Designing Prosilver{% endblock title %}

{% block body %}
<div id="page-body">
<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
		<strong>&#8249;</strong> <a href="{{ development_path }}">Development</a>
		<strong>&#8249;</strong> <a href="{{ DEV_PROSILVER }}">Designing prosilver</a>
	</li>
</ul>

<div id="main">
	<h2 class="imgrep designing_prosilver">Designing prosilver</h2>

	<p><strong>{{ DATE_TITLE }} &mdash; </strong> {{ CAPTION }}</p>
	{% if IMAGE %}
	<div style="text-align: center;">
		{% if NEXT_PAGE %}<a href="{{ NEXT_PAGE }}" title="Click to go to next page">{% endif %}<img alt="prosilver" src="{{ IMAGE }}" />{% if NEXT_PAGE %}</a>{% endif %}
	</div>
	{% endif %}

	<div class="topic-actions">
		{% if PREV_PAGE %}<a accesskey="j" class="left left-box" href="{{ PREV_PAGE }}">Previous page</a>{% endif %}	{% if NEXT_PAGE %}<a accesskey="k" class="right right-box" href="{{ NEXT_PAGE }}">Next page</a>{% endif %}
	</div>

</div>
<div id="extras">
	<div class="mini-panel">
		<div class="inner">
		<h3><a href="{{ DEV_PROSILVER }}">Designing prosilver</a></h3>
		<ul class="menu">
			{% for i in TOC %}
				<li{% if MENU_COUNT == i.ID %} class="last"{% endif %}>{% if i.ID == PAGE %}<strong>{% endif %}<a href="{{ i.ITEM }}">{{ i.TITLE }}</a>{% if i.ID == PAGE %}</strong>{% endif %}</li>
			{% endfor %}
		</ul>
		</div>
	</div>
</div>
</div>
{% endblock %}
