{% extends ':base:base.html.twig' %}

{% block title %}Support{% endblock title %}

{% block phpbb_body_class %}support{% endblock %}

{% block body %}
<div id="page-body">

<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
	<strong>&#8249;</strong> <a href="{{ support_path }}">Support</a>
	</li>
</ul>

<div id="main">
	<h2 class="imgrep support">Support</h2>
	<p>Having installation problems? Is the database giving you trouble? Can't seem to login? Have a question about how to use the product? You will find various resources where you can find help below. If you are looking for help with Extensions or Styles, information can be found in their sections accessed via the links at the top of the page.</p>
	<div class="column1">
		<h3><a href="{{ SUPPORT_DOCS }}">Documentation</a></h3>
		<p>The installation guide and full documentation to the forum (board) system. This should be your first stop in finding solutions.</p>
 		<h3><a href="{{ SUPPORT_IRC }}">IRC Support</a></h3>
		<p>A support channel is registered on the freenode.net IRC network. Note that this channel is for phpBB discussion or support only.</p>
		<h3><a href="{{ SUPPORT_SRT }}">Support Request Template</a></h3>
		<p>We've created a tool to help you provide us with the information we need to help you in the Support Forum. Please run this tool whenever you create a new support topic.</p>
	</div>
	<div class="column2">
		<h3><a href="{{ SUPPORT_FORUMS }}">Support Forums</a></h3>
		<p>Have a question? We'd love to help! Post your own question in our support forums and our Support Team will provide assistance.</p>
		<h3><a href="{{ SUPPORT_DOCS_KB }}">Knowledge Base</a></h3>
		<p>Our Knowledge Base contains useful articles and tutorials covering many different subjects and support areas.</p>
		<h3><a href="{{ SUPPORT_INTL }}">International Support</a></h3>
		<p>Because phpBB is multilingual, a number of 3rd party sites have appeared to support those whose first language is not English.</p>
	</div>
</div>
<div id="extras">
	{{ include('AppBundle:lists:subscribe.html.twig') }}

	{{ include('AppBundle:Support:menu.html.twig') }}

	{{ include('AppBundle:lists:trackers.html.twig') }}
</div>

</div>
{% endblock %}
