{% extends ':base:base.html.twig' %}

{% block title %}Advertise with phpbb.com{% endblock title %}

{% block phpbb_body_class %}about advertise-contact{% endblock %}

{% block javascriptHeader %}
	{{ parent() }}

	<!-- CSS Stuff for Advertise Page -->
	<link href="{{ asset('assets/css/ad_vertise.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<div id="page-body">

<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
	<strong>&#8249;</strong> <a href="{{ about_path }}">About</a>
	<strong>&#8249;</strong> <a href="{{ advertise_path }}">Advertise on phpBB.com</a>
	</li>
</ul>

<div id="main">
	<h2 class="imgrep advertise-contact">Why advertise on phpBB.com?</h2>

	<div class="information" style="margin-bottom: 1.5em;">
		<div class="inner">
		<strong>Why advertise on phpBB.com?</strong>
		<ul>
			<li>Over 5 million visits per month.</li>
			<li>Over 25,000 unique visitors daily with over 8000 downloads of our software.</li>
			<li>Thriving community with over 400,000 registered users.</li>
			<li>A very targeted audience of males between 16 and 45 years of age who are interested in technology, hosting, development and other web-related topics.</li>
		</ul>
		</div>
	</div>

	<div style="margin-bottom: 1.5em;">
		<h3 id="textlinks">Text link advertising</h3>
		<p>Static (non-rotating) text ads are possibly the best way to reach our broad yet targeted audience. Choose from the prominent front page &ldquo;Sponsors&rdquo; box or the site-wide footer chain.</p>
	</div>

	<div class="column1" style="margin-bottom: 1.5em;">
		<div class="mini-panel" id="enhancements">
			<div class="inner">
			<h3>Sample text-link enhancements</h3>
			<ul class="text-links">
				<li><a href="{{ advertise_path }}#linksentence" class="text-links-favicon" style="background-image: url({{ home_path }}assets/images/images/favicons/silverbod.png); padding-left: 21px;">The <strong>exclusive</strong> link sentence</a> is a great way to <em>gain exposure</em> to a wide audience that visits <a href="{S_ROOT_PATH}"><strong>phpBB.com</strong></a>!</li>
				<li><a href="{{ advertise_path }}#standardlink">A standard text-link</a></li>
				<li><a href="{{ advertise_path }}#boldedlink"><strong>Perhaps bold for emphasis?</strong></a></li>
				<li><a href="{{ advertise_path }}#faviconlink" class="text-links-favicon" style="background-image: url({{ home_path }}assets/images/images/favicons/mozilla.png); padding-left: 21px;">Apply branding with favicons!</a></li>
				<li class="last"><a href="{{ advertise_path }}#boldiconlink" class="text-links-favicon" style="background-image: url({{ home_path }}assets/images/images/favicons/squares.png); padding-left: 21px;"><strong>Combine both at a discounted rate</strong></a></li>
			</ul>
			</div>
		</div>
	</div>

	<div class="column2" style="margin-bottom: 1.5em;">
		<p>Examples of what your text link would look like are shown left. Alternatively, you can scroll down to the footer or visit the front page to see examples of current advertisers.</p>

		<h4>Pricing:</h4>
		<p>Text link pricing varies and is significantly more expensive than our image banner options. Please <a href="#contact">contact us for additional information</a> about the various options.</p>
	</div>
	<hr />

	<div class="column1" style="margin-bottom: 1.5em;">
		<h3 id="banners">Image banner advertising</h3>
		<p>Our 728px &times; 90px footer leaderboard offers your organisation plenty of colorful space to pitch your product at an affordable rate. We are happy to run your campaign across an entire month or just a few specific days. Banners may be targetted to specific portions of the site.</p>
	</div>

	<div class="column2" style="margin-bottom: 1.5em;">

		<h4>Pricing:</h4>
		<br />
		<ul>
			<li>$2.00 USD <abbr title="cost per mille">CPM</abbr></li>
			<li>For purchases of $500 - $5000, you receive <strong>5%</strong> extra impressions</li>
			<li>For purchases of over $5000, you receive <strong>10%</strong> extra impressions</li>
			<li>The minimum purchase is $100</li>
		</ul>
	</div>
	<hr />

	<div class="column1" style="margin-bottom: 1.5em;">
		<h3 id="banners">Downloads page banner</h3>
		<p>More information coming soon</p>
	</div>

	<div class="column2" style="margin-bottom: 1.5em;">
		<h4>Pricing:</h4>
		<ul>
			<li>To be determined...</li>
		</ul>
	</div>
	<hr />

	<div class="column1" style="margin-bottom: 1.5em;">
		<h3 id="banners">Custom campaigns</h3>
		<p>Interested in something else? <a href="mailto:%69%6E%76%6F%69%63%69%6E%67%40%70%68%70%62%62%2E%63%6F%6D">Let us know</a> and we'll try to make it happen!</p>
	</div>

	<div class="column2" style="margin-bottom: 1.5em;">
		<h4>Pricing:</h4>
		<ul>
			<li>Variable</li>
		</ul>
	</div>

	<hr />

	<div id="terms" style="margin-bottom: 1.5em;">
	<h3 id="terms">Terms &amp; Conditions</h3>

	<h4 style="margin-top: 0;">Payment</h4>
	<ul>
		<li>Payment for any advertising campaign on phpBB.com must be received in full prior to the start of the campaign.</li>
		<li>All prices are quoted in US Dollars and payment must be made in US Dollars unless agreed upon otherwise.</li>
	</ul>

	<h4>Payment Options</h4>
	<ul>
		<li>Payments up to $2,000 can be made via Paypal, Business Cheque, Money Order, or Certified Cheque</li>
		<li>Payments up to $10,000 can be made by Business Cheque, Money Order, Certified Cheque or Wire Transfer</li>
		<li>Payments over $10,000 can be made by Wire Transfer, Money Order, or Certified Cheque.</li>
	</ul>

	<h4>Cancellation</h4>
	<ul>
		<li>You may cancel your advertising with phpBB.com at any time, under the following conditions:</li>
		<li>Only full months will be refunded.</li>
		<li>Requests must be made 5 working days before the end of the current month to allow sufficient time for filling the space.</li>
		<li>Any applied discounts will be subtracted from the refund (if the quoted price was $100 per month with a discounted rate of $240 for 3 months, the refund for the last 2 months would be [$240 - $100 = $140], rather than [$240 / 3 * 2 = $160]).</li>
	</ul>

	<h4>Content</h4>
	<ul>
		<li>Advertisements will not be accepted if they contain links to sites with:
			<ul>
				<li>Adult content (e.g. pornographic material, adult humor)</li>
				<li>Illegal content (e.g. warez sites)</li>
			</ul>
		</li>
		<li>All advertisements will be screened by the phpBB.com staff and we reserve the right to reject any campaign that we find unsuitable for this site.</li>
		<li>We do our best to follow <a href="https://support.google.com/webmasters/topic/6001981">Google's policies</a> regarding advertising and SEO. No advertising campaign should be targeted-toward or based-on pagerank misrepresentation or any other SEO scheme.
		<li>We reserve the right to discontinue/cancel a campaign at any time. In this case, you will receive a refund for the amount of time remaining on your campaign. For example, if you had a 90 day campaign totaling $300 that was canceled after 66 days, you would receive: [$300 / 90 * (90 - 66) = $80].</li>
</li>
	</ul>
</div>
</div>

<div id="extras">
	{{ include('AppBundle:About:menu.html.twig') }}
<hr />
	<div class="mini-panel panel-text js-scroll" id="contact">
		<div class="inner">
		<img src="{{ home_path }}assets/images/images/about/advertise/email.png" alt="mail" style="float:right" />
		<h3>Ready to buy?</h3>
		<p>
			If you're ready to order advertising on phpBB.com, please <a href="mailto:%69%6E%76%6F%69%63%69%6E%67%40%70%68%70%62%62%2E%63%6F%6D">email us</a> with the following details:
		</p>
		<ul>
			<li>The ad's target URL</li>
			<li>The banner image or link title text along with your choice of enhancement options (see left)</li>
			<li>The desired campaign duration</li>
		</ul><br />
		<p>
			Once the information above is received, we will respond to your request within 3 working days, although usually much sooner.
		</p>
		</div>
	</div>
</div>

</div>
{% endblock %}
