{% extends ':base:base.html.twig' %}

{% block title %}About phpBB{% endblock title %}

{% block phpbb_body_class %}about{% endblock %}

{% block body %}
<div id="page-body">

<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
		<strong>&#8249;</strong> <a href="{{ about_path }}">About</a>
	</li>
</ul>

<div id="main">
	<h2 class="imgrep about">About phpBB<sup>&reg;</sup></h2>
	<p>Millions of people use phpBB on a daily basis, making it the most widely used open source bulletin board system in the world.  Whether you want to stay in touch with a small group of friends or are looking to set up a large multi-category board for a corporate website, phpBB has the features you need built-in.</p>
	<p>Newer users will appreciate phpBB's extensive administration panel, which allows the customisation of even the most intricate features without having to edit code directly while advanced users will value the ease with which phpBB can be integrated into existing systems.</p>
	<p>Because phpBB is released under the <a href="http://opensource.org/licenses/gpl-2.0.php">GNU General Public License</a>, you may make changes to the code without first having to obtain permission from the phpBB Group.  Our <a href="{{ mods_db_path }}">extensive database of user-created modifications</a> makes changing and adding features as simple as pasting code into the appropriate files, while the <a href="{{ styles_db_path }}">styles database</a> contains hundreds of style and image packages to customise your board.</p>
	<p>The detailed <a href="{{ documentation_path }}">documentation</a> and <a href="{{ SUPPORT_TUTORIALS }}">Flash video tutorials</a> available on this site will help you get phpBB running on your server in minutes.  If you have any questions please visit our <a href="{{ community_path }}">Community Forum</a> where our staff and members of the community will be happy to assist you with anything from configuring the software to modifying the code for individual needs.</p>
	<p>No other bulletin board software offers a greater complement of features, while maintaining efficiency and ease of use.  Best of all, phpBB is completely free.  We welcome you to <a href="http://www.try-phpbb.com/30x/">test it</a> for yourself today<span style="color: #d21a4e; font-weight: bold;">*</span>.</p>
	<p style="font-size: 0.9em; color: #663333;"><span style="color: #d21a4e; font-weight: bold;">*</span>Test board is generated automatically and is only available for an hour after it is created. Once this time limit is reached, the data is purged. Please note that the demo is linked to your IP address; you will not be able to share your test board with other individuals.  Default username/password: administrator/administrator</p>
</div>
<div id="extras">
	{{ include('AppBundle:About:menu.html.twig') }}
	{{ include('AppBundle::project_links_box.html.twig') }}
	<dl class="extra-box showcase orange">
		<dt><a href="{{ showcase_path }}">phpBB showcase</a></dt>
		<dd><a href="{{ showcase_path }}">A gallery of businesses and organisations using phpBB</a></dd>
	</dl>
</div>
</div>
{% endblock %}
