{% extends ':base:base.html.twig' %}

{% block phpbb_body_class %}about launch{% endblock %}

{% block head_assets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/launch/launch.css') }}" />
<!--[if lte IE 9]>
		<link rel="stylesheet" href="{{ asset('assets/css/launch/ie9.css') }}' />
<![endif]-->
{% endblock %}

{% block javascriptHeader %}
	{{ parent() }}

	<!-- JS for Launch Page -->
	<script src="{{ asset('assets/js/about/launch/waypoints.min.js') }}"></script>
	<script src="{{ asset('assets/js/about/launch/waypoints-sticky.min.js') }}"></script>
	<script src="{{ asset('assets/js/about/launch/launch_fn.js') }}"></script>
{% endblock %}


{% block body %}

<div id="page-body">
<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ about_path }}">About</a>
			<strong>&#8249;</strong> <a href="{{ about_launch }}">Launch</a>
		</li>
	</ul>

<div class="features-container">
	<div class="features-header">
		<div class="lead lead-masthead">
			<h2 class="lead-title text-center">phpBB 3.2 <span class="lead-clear-outline">Rhea</span></h2>
			<p class="lead-sub-title text-center">Solid. Stable. Secure. </p>
			<p class="lead-sub-buttons lead-sub-title text-center"><a class="lead-clear-outline download-btn" href="https://www.phpbb.com/downloads/" style="">Download 3.2</a> <span><!--or</span> <a class="lead-clear-outline test-btn" href="http://www.try-phpbb.com/32x/" style="">Try It</a>--></p>
		</div>
	</div>
		<div class="feature-row">
		<div id="global-announcemnets" class="media-md">
				<h2 class="media-title text-center">
					<img class="media-image" src="{{ asset('assets/images/images/about/launch/emoji.png') }}" alt="Emoji">
					Emoji!
				</h2>
				<p class="media-copy text-center">Thanks to our brand-new BBCode parser your users can now make use of the entire Emoji keyboard when posting on your board. From a lovely grin to a pink unicorn, Emoji can liven up all posts on your board! </p>
			</div>
			<div id="soft-delete" class="media-md">
				<h2 class="media-title text-center">
					<img class="media-image" src="http://phpbb.com/assets/images/images/about/launch/ajax@2x.png?v2015122401" alt="PHP7 Support">
					PHP7 Support
				</h2>
				<p class="media-copy text-center">PHP7 works twice as fast as previous PHP versions. We have modified phpBB to now completely support this new release of PHP (both 7.0 and 7.1) so you can enjoy all these performance advantages.</p>
			</div>
		</div>
			<div id="teams-page" class="media-md">
				<h2 class="media-title text-center">
					<img class="media-image" src="http://phpbb.com/assets/images/images/about/launch/team@2x.png?v2015122401" alt="Clever quotes">
					Clever Quotes
				</h2>
				<p class="media-copy text-center">
					We've improved the quoting system to show a link to the quoted post and post author. The full time and date of the quoted post is now also available to get all the information in one glance.
				</p>
			</div>
			<div id="soft-delete" class="media-md">
				<h2 class="media-title text-center">
					<img class="media-image" src="http://phpbb.com/assets/images/images/about/launch/version@2x.png?v2015122401" alt="Easy updating">
					Easy Updating
				</h2>
				<p class="media-copy text-center">With our brand new installer updating will be easier than ever in phpBB 3.2! Upload a single folder to your board and all your files will automatically be replaced.</p>
			</div>
			<div id="global-announcemnets" class="media-md">
				<h2 class="media-title text-center">
					<img class="media-image" src="http://phpbb.com/assets/images/images/about/launch/functional@2x.png?v2015122401" alt="reCAPTCHA 2.0">
					reCAPTCHA 2.0
				</h2>
				<p class="media-copy text-center">With phpBB 3.2 now including the industry standard by using Google's newest and strongest API, you will have an even better protection against spambots than before. </p>
			</div>
			<div id="contact-page" class="media-md">
				<h2 class="media-title text-center">
					<img class="media-image" src="http://phpbb.com/assets/images/images/about/launch/notifications@2x.png?v2015122401" alt="Notifications">
					Improved Notifications
				</h2>
				<p class="media-copy text-center">
					With us completely refactoring the notifications system in phpBB 3.2, notifications now work faster and more efficient. This change also reduces the posting time to be almost instantenous.
				</p>
			</div>
			<div id="global-announcements" class="media-md">
				<h2 class="media-title text-center">
					<img class="media-image" src="http://phpbb.com/assets/images/images/about/launch/extension@2x.png?v2015122401" alt="FontAwesome">
					FontAwesome Icons
				</h2>
				<p class="media-copy text-center">
				Using CSS driven icons from FontAwesome, we now have more intuitive icons with retina quality all across phpBB as well as considerably improving the speed of page loads.
				</p>
			</div>
			<div id="contact-page" class="media-md">
				<h2 class="media-title text-center">
					<img class="media-image" src="http://phpbb.com/assets/images/images/about/launch/symfony@2x.png?v2015122401" alt="Symfony">
					Symfony 2.8
				</h2>
				<p class="media-copy text-center">
					Having introduced Symfony components in our last release, phpBB 3.2 has now upgraded to be build on Symfony 2.8 allowing us to use their latest cutting-edge developments.
				</p>
			</div></div>
	</div>
{% endblock %}

