{{ include('AppBundle::ascraeus.html.twig') }}
<div class="mini-panel">
	<div class="inner">
	<h3><a href="{{ about_path }}">About Section</a></h3>
	<ul class="menu">
		<li><a href="{{ ABOUT_FEATURES }}">The Features</a></li>
		{% if SHOW_COMPARE_PAGE is defined %}
			<li><a href="{{ ABOUT_COMPARE }}">Compare phpBB</a></li>
		{% endif %}
		<li><a href="{{ ABOUT_HISTORY }}">The History</a></li>
		<li><a href="{{ ABOUT_TEAM }}">The Team</a> &bull; <a href="{{ ABOUT_MAP }}">Map</a></li>
		<li><a href="{{ get_involved_path }}">Get Involved</a></li>
		<li><a href="{{ release_path }}">Release Process</a></li>
		<li><a href="{{ showcase_path }}">Showcase</a></li>
		<li><a href="{{ ABOUT_LOGOS }}">Logos</a></li>
		<li><a href="{{ contact_path }}">Contact Us</a></li>
		<li class="last"><a href="{{ advertise_path }}">Advertise on phpBB.com</a></li>
	</ul>
	</div>
</div>
