{% extends ':base:base.html.twig' %}

{% block title %}Release and Update Policy{% endblock title %}

{% block phpbb_body_class %}about{% endblock %}

{% block body %}
<div id="page-body">

<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
	<strong>&#8249;</strong> <a href="{{ about_path }}">About</a>
	<strong>&#8249;</strong> <a href="{{ release_path }}">Release Policy</a>
	</li>
</ul>

<div id="main" class="wide">
	<h2 class="imgrep advertise-contact">Release &amp; Update Policy</h2>

	<div class="columns release-versions">
		<div class="column column-thirds">
			<strong>Latest branch of phpBB</strong>
			<a class="big-tag double-height blue" href="{{ downloads_path_31x }}">3.1.x (Ascraeus)</a>
		</div>
		<div class="column column-thirds">
			<strong>Branches in 'Maintenance'</strong>
			<a class="big-tag blue" href="{{ downloads_path_31x }}">3.1.x (Ascraeus)</a>
			<a class="big-tag dirty-green" href="{{ downloads_path_30x }}">3.0.x (Olympus)</a>
		</div>
		<div class="column column-thirds">
			<strong>Development branch</strong>
			<a class="big-tag double-height orange" href="{{ downloads_path_32x }}">3.2.x (Rhea)</a>
		</div>
	</div>

	<p>phpBB releases are time-based meaning we release a new minor (x.y) or major (x) update once every year around November/December. In between minor releases we release maintenance releases (x.y.z) which include bug and, when required, security fixes. On occasion we also release patch level releases (x.y.z-PLn) which fix important issues introduced in a maintenance release.</p>

	<h2>End of Maintenance</h2>
	<p>End of Maintenance (EOM) occurs to a branch 18 months after its first stable (3.x.0) release. This occurs in May each year. When this occurs we:</p>
	<ul>
		<li>Recommend you upgrade to the latest stable branch of phpBB</li>
		<li>Only patch security issues in new maintenance releases</li>
		<li>No longer allow new customisation [database] submissions except for updates to existing contributions</li>
	</ul>

	<h2>End of Life</h2>
	<p>End of Life (EOL) occurs to a branch 24 months after its first stable (3.x.0) release. This occurs in November each year. When this occurs we:</p>
	<ul>
		<li>Strongly recommend you upgrade your version of phpBB to the latest stable release</li>
		<li>No longer patch security issues</li>
		<li>No longer make any releases of this branch</li>
		<li>No longer allow contributions or updates for contributions to be submitted to our customisation database</li>
		<li>Begin actively purging documentation for this branch of phpBB</li>
		<li>Continue to provide support past EOL, with at least six months notice prior to dropping support</li>
	</ul>

	<h2>phpBB 3.0.x (Olympus)</h2>
	<p>phpBB 3.0.x is a special case due to the length of its time in 'maintenance period'. It will reach its 'End of Maintenance' period in May 2015 and its 'End of Life' period will occur in November 2015.<br /><br />When phpBB 3.0 has reached EOM the above will apply and new modificiations (MODs) will no longer be accepted for submission into the customisation database whilst updates to existing MODs will be allowed. No new topics will be allowed in the MOD Reqeusts or MODs in Development forums. When 3.0 has reached EOL no new MOD updates will be permitted, they will be hidden from Titania (although downloadable still through the MOD Releases Forum) and the MOD 3.0 forums will be locked.</p>

	<h2>Upcoming Timetable</h2>
	<div class="forumbg forumbg-table">
		<div class="inner">
			<table class="table1 show-header responsive">{# TODO: show-header and responsive classes are usually added automatically by prosilver, but not in this case apparently #}
				<thead>
					<tr>
						<th class="header">Version</th>
						<th class="header">Release</th>
						<th class="header">End of Maintenance</th>
						<th class="header">End of Life</th>
					</tr>
				</thead>
				{# status CSS classes: status-tag + (safe | unsafe | dangerous | unreleased) #}
				<tbody>
					<tr class="bg1">
						<td><span class="mini-tag dirty-green">3.0</span><span class="status-tag dangerous">EOL</span></td>
						<td>December 2007</td>
						<td>May 2015</td>
						<td>November 2015</td>
					</tr>
					<tr class="bg2">
						<td><span class="mini-tag blue">3.1</span><span class="status-tag safe">OK</span></td>
						<td>November 2014</td>
						<td>December 2016</td>
						<td>June 2017</td>
					</tr>
					<tr class="bg1">
						<td><span class="mini-tag orange">3.2</span><span class="status-tag unreleased">DEV</span></td>
						<td>Planned: July 2016</td>
						<td>Planned: December 2017</td>
						<td>Planned: June 2018</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h2>Contributing</h2>
	<p>If you want to contribute a bug fix and it affects all maintained branches it will go into the next maintenance release of the lowest supported branch. Therefore it will likely go into the next 3.1.x release. (<span class="github-link"> <a href="{{ dev_github_phpbb_31x }}">3.1.x</a></span>).<br /><br />
		If you want to contribute a new feature it will go into the 3.2.x development branch (<span class="github-link"> <a href="{{ dev_github_phpbb_32x }}">master</a></span>).</p>
</div>

</div>
{% endblock %}
