{% extends ':base:base.html.twig' %}

{% block title %}Modifications{% endblock title %}

{% block phpbb_body_class %}mods{% endblock %}

{% block body %}
<div id="page-body">

<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
	<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise phpBB</a>
	<strong>&#8249;</strong> <a href="{{ mods_path }}">Modifications</a>
	</li>
</ul>

<div id="main">
	<h2 class="imgrep mods">Modifications</h2>
	<p>This page contains links to tools and information of interest to MOD users that wish to install modifications.</p>
	<span class="clear"></span><br />

	<div class="flash-message"><h3>MODifications are no longer supported</h3><p>
			Please note that MODifications are no longer supported since phpBB 3.0 is End of life. As such, some of the old information
			on this page been removed.
		</p></div>

	<div class="column1">
		<h2 class="title">Users</h2>

		<h3><a href="{{ MODS_FINDING }}">Finding MODs</a></h3>
		<p>How to search for a MOD, comparing MOD's to see which best meets your requirements, how to download it.</p>

		<h3><a href="{{ MODS_OPENING }}">Opening MODs</a></h3>
		<p>How to unzip, a description of what each file does, instructions on how to open the file in your browser.</p>

		<h3><a href="{{ MODS_INSTALLING }}">Installing MODs</a></h3>
		<p>What each action means, the technique to install a MOD, what to do with FTP and backing up files.</p>

		<h3><a href="{{ MODS_SUPPORT }}">Support for MODs</a></h3>
		<p>Where to go if you are experiencing problems with a MOD you have installed.</p>
	</div>

	<div class="column2">
		<h2 class="title">Bridges</h2>

		<h3><a href="{{ BRIDGES_POLICIES }}">Bridge Policies</a></h3>
		<p>The policy for accepting bridges to phpBB Bridges database. Bridge authors should read this.</p>

		<h3><a href="{{ BRIDGES_DB }}">Bridges Database</a></h3>
		<p>Here you can find validated bridges.</p>

	</div>

	<span class="clear"></span>

</div>

<div id="extras">
	{{ include('AppBundle:Mods:menu.html.twig') }}
</div>
</div>
{% endblock %}
