<div class="mini-panel">
	<div class="inner">
	<h3><a href="{{ mods_path }}">Modifications</a></h3>
	<ul class="menu">
		<li><a href="{{ mods_db_path }}">Modifications Database</a></li>
		<li><a href="{{ MODS_POLICY }}">Modifications Database Policies</a></li>
		<li><a href="{{ FORUM_MODS_30X }}">3.0.x Modification Forums</a></li>
		<li><a href="{{ MODS_MODX }}">MODX Resource Centre</a></li>
		<li class="last"><a href="{{ kb_path }}">Knowledge Base</a></li>
	</ul>
	</div>
</div>
