{% extends ':base:base.html.twig' %}

{% block title %}Development{% endblock title %}

{% block phpbb_body_class %}development{% endblock %}

{% block body %}
<div id="page-body">
<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
		<strong>&#8249;</strong> <a href="{{ development_path }}">Development</a>
	</li>
</ul>

<div id="main">
	<h2 class="imgrep development">Development</h2>
	<img style="float:right;margin:10px;" src="{{ asset('assets/images/images/area51/alien64.png') }}" alt="Area51 Alien" />
	<h3><a href="{{ DEV_HOME }}">Area51</a></h3>
	<p>Area51 houses phpBB's bug tracker, testing infrastructure, a wiki, a discussion board and various other helpful development tools. Visit this site to get involved in phpBB development.</p>
	<p>To discuss and observe ongoing development and the future of the phpBB software, we invite you to visit the <a href="{{ DEV_BOARD }}">Area51 Development Discussion Board</a>.</p>
	<div class="column1">
		<h3><a href="{{ BUGS_PHPBB }}">phpBB Bug Tracker</a></h3>
		<p>If you find a bug in phpBB, report it here. Vote for the bugs and features of importance to you. Please <strong>do not</strong> submit support requests.</p>
		<h3><a href="{{ BUGS }}">Bug Trackers for Website &amp; Tools</a></h3>
		<p>If you encountered a problem with this website or any other phpBB development tool, report it here.</p>
		<h3><a href="{{ GSOC }}">Google Summer of Code</a></h3>
		<p>Google Summer of Code is an annual program in which Google awards stipends to students participating in coding projects for free and open source software projects. Its aim is to get students involved in and familiar with the open source community. phpBB participated in the years 2012, 2013, 2014 and 2017. Of course we are also applying to participate again in 2018.</p>
	</div>
	<div class="column2">
		<h3><a href="{{ SECURITY }}">Security Tracker</a></h3>
		<p>Please report any security issue you find to this tracker. This will ensure a quick and easy way to work together with the developers to evaluate and fix.</p>
		<h3><a href="{{ get_involved_path }}">Get Involved</a></h3>
		<p>To find out how to get involved in development; whether through reporting bugs, suggesting features or contributing code you can find out how to here.</p>
	</div>
	<br class="clear" />
	<br />
</div>

<div id="extras">
	{{ include('AppBundle:lists:subscribe.html.twig') }}
	{{ include('AppBundle:lists:carbon_ads.html.twig') }}

	<div class="mini-panel">
		<div class="inner">
		<h3>Features</h3>
		<ul class="menu">
			<li class="last"><a href="{{ DEV_PROSILVER }}">Designing prosilver</a></li>
		</ul>
		</div>
	</div>

</div>
</div>
{% endblock %}
