	<div class="mini-panel">
		<div class="inner">
		<h3><a href="{{ support_path }}">Support Sections</a></h3>
		<ul class="menu">
			<li><a href="{{ SUPPORT_CODE_CHANGES }}">Code Changes</a></li>
			<li><a href="{{ DOCUMENTATION_3_0 }}">Documentation</a></li>
			<li><a href="{{ kb_path }}">Knowledge Base</a></li>
			<li><a href="{{ SUPPORT_TUTORIALS }}">Flash Tutorials</a></li>
			<li><a href="{{ SUPPORT_FORUMS }}">Support Forums</a></li>
			<li><a href="{{ SUPPORT_SRT }}">Support Request Template</a></li>
			<li><a href="{{ SUPPORT_STK }}">Support Toolkit</a></li>
			<li><a href="{{ SUPPORT_IRC }}">IRC Support</a></li>
			<li class="last"><a href="{{ SUPPORT_INTL }}">International Support</a></li>

		</ul>
		</div>
	</div>
