{% extends ':base:base.html.twig' %}

{% block title %}Extensions{% endblock title %}

{% block phpbb_body_class %}mods{% endblock %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
		<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise phpBB</a>
		<strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep mods">Extensions</h2>
		<p>Extensions are downloadable packages which can be installed very easily on a phpBB board to add new features and functionality.</p>

		<p>Extensions are the natural successor to modifications (sometimes known as MODs), the development and support of which have defined the community's involvement in the phpBB project for over a decade. Unlike modifications, the extensions system for edit-less changes in phpBB 3.1 makes customising phpBB easier than ever.</p>

		<h2 class="title">For Users</h2>
		<div class="column1">
			<h3><a href="{{ extensions_offical_exts }}">phpBB Official Extensions</a></h3>
			<p>Here you can download and contribute to extensions built by phpBB for phpBB.</p>

			<h3><a href="{{ extensions_cdb }}">Extensions Database</a></h3>
			<p>Here you can download extensions validated by phpBB and submit completed extensions. Additional un-validated extensions in development can be found in the <a href="{{ forum_extensions_31x_dev }}">Extensions in Development Forum</a>.</p>
		</div>

		<div class="column2">
			<h3><a href="{{ extensions_installing }}">Installing Extensions</a></h3>
			<p>How to install and enable extensions on a phpBB board. Also how to disable and delete an extension from a board.</p>

			<h3>Extension Support</h3>
			<p>Extensions downloaded from the <a href="{{ extensions_cdb }}">Customisation Database</a> have their own support forums. To find support for extensions downloaded elsewhere, you should seek support from the author or forum where it was downloaded.</p>
		</div>

		<span class="clear"></span>

		<h2 class="title">For Developers</h2>
		<div class="column1">
			<h3><a href="{{ extensions_writing }}">Writing Extensions</a></h3>
			<p>A detailed guide to writing an extension.</p>

			<h3><a href="{{ extensions_rules }}">Rules and Policies</a></h3>
			<p>View the full list of Rules and Policies for developing extensions.</p>

			<h3><a href="{{ extensions_phpbb_cgs }}">phpBB Coding Guidelines</a></h3>
			<p>The guidelines extension authors should follow when writing an extension for phpBB.</p>

			<h3><a href="{{ extensions_docs }}">Extension Development Tutorials</a></h3>
			<p>Tutorials and documentation for extension development.</p>

			<h3><a href="{{ extensions_wiki }}">Extension Development Wiki</a></h3>
			<p>Official phpBB Wiki articles for extension development.</p>

			<h3><a href="{{ extensions_epv }}">EPV</a></h3>
			<p>The Extension Pre Validator is a tool you can use to check an extension for basic errors prior to submitting it to the Extensions Database.</p>
		</div>

		<div class="column2">
			<h3><a href="{{ extensions_recognised_devs }}">Recognised Extension Developers</a></h3>
			<p>Recognised Extension Developers are developers who have been specially recognised by the Extensions Team.</p>

			<h3><a href="{{ forum_extensions_31x_dev }}">Extensions in Development Forum</a></h3>
			<p>A forum for extension authors to post and receive feedback on their extensions while in development.</p>

			<h3><a href="{{ forum_extensions_31x_writers }}">Extension Writers Forum</a></h3>
			<p>A forum for extension authors to discuss extension development.</p>

			<h3><a href="{{ extensions_quickinstall }}">QuickInstall</a></h3>
			<p>An extension development tool that allows users to set up multiple phpBB installations with one mouse click.</p>

			<h3><a href="{{ extension_skeleton }}">Extension Skeleton</a></h3>
			<p>An extension development tool to rapidly generate the starter files and components for new extension projects.</p>
		</div>

		<span class="clear"></span>

		<h2 class="title">The Extensions Team</h2>

		<h3><a href="{{ extensions_team_overview }}">Extensions Team Overview</a></h3>
		<p>Important information pertaining to the activities of the Extensions Team, and how you can become involved.</p>

		<span class="clear"></span>
		<br />
	</div>

	<div id="extras">
		{{ include('AppBundle:Extensions:menu.html.twig') }}
	</div>
</div>
{% endblock %}
