{% extends ':base:base.html.twig' %}

{% block title %}Installing Extensions{% endblock title %}

{% block phpbb_body_class %}mods{% endblock %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
			<strong>&#8249;</strong> <a href="{{ extensions_installing }}">Installing Extensions</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep mods">Installing Extensions</h2>
		<p>Extensions are downloadable packages which can be installed on a phpBB board to add new features and functionality. Extensions are the successor to MODs as of phpBB 3.1 and they are a vast improvement. With extensions, you no longer have to modify a single line of code in phpBB. Extensions are simply uploaded to your board and enabled inside the ACP. Updating, disabling and removing extensions is equally as easy to perform.</p>

		<hr />

		<h2 class="title" id="installing">Installing an Extension</h2>
		<p>Inside your phpBB board's directory is an "<samp>ext</samp>" folder. This is the location where all extensions are stored. Every extension follows the same folder hierarchy in which extensions are grouped into folders by the author's vendor name. If you downloaded an extension named "<samp>foobar</samp>" from the author/vendor "<samp>acme</samp>" then it would be uploaded to "<samp>ext/acme/foobar</samp>". Any other extensions created by the author/vendor "<samp>acme</samp>" would also be stored in "<samp>ext/acme/</samp>". For example:</p>
		<pre class="codesnippet">phpBB/
   ext/
      acme/
         foobar
      phpbb/
         boardrules
         boardannouncements</pre>

		<h3>1. Download and unzip</h3>
		<p>Once you have downloaded an extension, you will need to unpackage it on your computer, as extensions are typically available in the compressed "zip" file format.</p>
		<p>In Windows, to unzip the extension, simply double click it from Windows Explorer view (for instance, if you downloaded the extension to My Documents, you would open My Documents and double click the file). Proceed to click "Extract all files" under the address bar (Windows Vista, 7 and 8) or under the Folder Tasks menu (Windows XP) from within the Explorer window and follow the prompts.</p>
		<p>On Mac, zipped files are automatically unzipped upon download by Safari (this setting can be disabled by unticking "Open safe files" in Safari's preferences) and can be accessed through the downloads list.</p>
		<div class="note-box yellow"><strong>Note:</strong> It is recommended to only install extensions from phpBB's <a href="{{ extensions_cdb }}">Customisation Database</a> on a live forum as this is a trusted source where all extensions have been validated by the Extensions Team.</div>

		<h3>2. Upload to your board</h3>
		<p>To upload files, open your favourite FTP client (such as FileZilla, CuteFTP, SmartFTP, etc - even some internet web browsers have this capability) and log in to your account. Generally your publicly accessible files will be in an area named "<samp>public_html</samp>" or similar. Navigate to your board folder. In this example we will look at transferring the "<samp>acme/foobar</samp>" extension. You would need to navigate to the "<samp>ext/</samp>" directory once you are in your board folder.</p>
		<p>Drag the folder "<samp>acme/foobar</samp>" to the "<samp>ext</samp>" folder in your FTP client. Normally there will be a small folder icon within the FTP client (this may vary from client to client) followed by the name of the directory - this is where you should be dragging the file to. If there is already an "<samp>acme</samp>" folder inside your "<samp>ext</samp>" folder, then just copy the "<samp>foobar</samp>" folder to "<samp>ext/acme/</samp>".</p>

		<h3>3. Enable</h3>
		<p>Once the extension has been uploaded, navigate in the board's ACP to Customise -> Manage extensions. You should see your recently uploaded extension listed under "Disabled Extensions". Simply click its "Enable" button and installation is complete!</p>

		<hr />

		<h2 class="title" id="updating">Updating an Extension</h2>
		<p>Updating an extension is a simple process that can be completed in a few simple steps with minimal disruption to your board. The following steps assume you have already downloaded and un-zipped a new version of an existing extension running on your board.</p>

		<h3>1. Disable</h3>
		<p>Disabling an extension will effectively turn it off, removing it from your board. If the extension is critical to your board's functionality, it would be safest to disable your board before performing this update process.</p>

		<h3>2. Delete extension files</h3>
		<p>Using your FTP program delete the extension's files from the filesystem. In most cases you can simply delete the extension's entire directory, which will remove all of its files from your filesystem.</p>

		<h3>3. Upload new extension files</h3>
		<p>Using your FTP program upload the new extension files (or the entire extension directory) to the correct location.</p>

		<h3>4. Enable</h3>
		<p>Once the extension has been uploaded, navigate in the board's ACP to Customise -> Manage extensions. You should see your recently uploaded extension listed under "Disabled Extensions". Simply click its "Enable" button and the update is complete!</p>

		<hr />

		<h2 class="title" id="removing">Removing an Extension</h2>
		<p>Sometimes it is necessary to remove an extension. phpBB allows you to disable an extension and to permanently delete it from your board.</p>

		<h3>1. Disable</h3>
		<p>Disabling an extension will effectively turn it off, removing it from your board. However, all modifications made to your database are still intact, so you can re-enable the extension without losing any of its stored settings and data. To disable an extension, simply click its "Disable" button in the Extensions Management page.</p>

		<h3>2. Delete data</h3>
		<p>To delete the extension, click the "Delete Data" button in the Extensions Management page after the extension has already been disabled. This is a destructive move that will delete any settings and data used by the extension from the database. (If you re-enable the extension at this point, it will be as if it were being installed for the first time.) Once you have deleted the data you can safely use your FTP program to delete the extension's folder from the "<samp>ext</samp>" directory.</p>

	</div>

	<div id="extras">
		{{ include('AppBundle:Extensions:menu.html.twig') }}
		<div class="mini-panel js-sections js-scroll" style="display: none"></div>
	</div>
</div>
{% endblock %}
