{% extends ':base:base.html.twig' %}

{% block title %}Writing Extensions{% endblock title %}

{% block phpbb_body_class %}mods{% endblock %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
			<strong>&#8249;</strong> <a href="{{ extensions_writing }}">Writing Extensions</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep mods">Writing Extensions</h2>
		<p>This page is no longer active.</p>
		<p>For extension development tutorials, please visit:</p>
		<ul>
			<li><a href="{{ extensions_docs_31 }}">phpBB Developer Docs > Extensions for phpBB 3.1.x</a></li>
			<li><a href="{{ extensions_docs_32 }}">phpBB Developer Docs > Extensions for phpBB 3.2.x</a></li>
		</ul>
	</div>

	<div id="extras">
		{{ include('AppBundle:Extensions:menu.html.twig') }}
		<div class="mini-panel js-sections js-scroll" style="display: none"></div>
	</div>
</div>
{% endblock %}
