{% extends ':base:base.html.twig' %}

{% block title %}Extensions Rules and Guidelines{% endblock title %}

{% block body %}
    <div id="page-body">

        <ul class="linklist navlinks">
            <li><a href="{{ home_path }}">Home</a>
                <strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
                <strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
                <strong>&#8249;</strong> <a href="{{ EXTENSIONS_RULES }}">Rules and Guidelines</a>
            </li>
        </ul>

        <div id="main">
            <h2 class="imgrep mods">Extensions</h2>
            <p>The Extensions in Development Forum is provided for Extensions Authors to develop their Extensions, from feature requests through the debugging and testing phases.</p>

            <ol>
                <li><strong>Support for In-Development Extensions</strong><br /><br />
                    <ol>
                        <li>Extension support is offered by the Extension author(s) only. phpBB.com and the phpBB Teams take no responsibility for supporting Extensions listed anywhere on phpBB.com or other sites.</li>
                        <li>If the Extension was downloaded from this site and was not obtained from the Customisation Database, there will be a support topic dedicated to the Extension in the [3.1.x] Extensions in Development Forum. Please ask all questions relating to the Extension in this topic.</li>
                        <li>Any security vulnerabilities discovered in Extensions listed on phpBB.com must be reported to the Extension Author as well as the Extension Security Tracker. The MOD Team will then take the appropriate steps to remove the Extension and notify the author. phpBB.com does not take responsibility for vulnerabilities contained within Extensions and is not responsible for any Extensions listed outside of phpBB.com.</li>
                    </ol>
                </li>

                <br />

                <li><strong>Licensing your Extension</strong><br /><br />
                    <ol>
                        <li>The phpBB Software is released under the GNU GPL v2 and Extension Authors are encouraged to release their Extensions under this license as this is the most compatible license for usage on Extensions for phpBB.</li>
                        <li>Extensions that are given a license that restricts redistribution are not allowed to be posted on phpBB.com.</li>
                        <li>If an Extension relies on code from the phpBB software, it is required to also be licensed under the GPL v2 as per the GPL.</li>
                        <li>Extensions cannot contain code from libraries which contain a proprietary license as this license does not grant phpBB or the Extension Author rights to redistribute the code.</li>
                    </ol>
                </li>

                <br />

                <li><strong>Extension Prefixes</strong><br /><br />
                    <ol>
                        <li>All Extensions listed in the Development forum must have a Topic Prefix. Allowed topic prefixes are: [DEV], [ALPHA], [BETA], [RC], and [ABD].</li>
                        <li>[DEV] - Extension is listed as in Development stage.</li>
                        <li>[ALPHA] - Extension is listed as Alpha stage. A download may or may not be provided.</li>
                        <li>[BETA] - Extension is listed as Beta stage. A download is required for Extensions listed in BETA.</li>
                        <li>[RC] - Extension is listed as RC (Release Candidate) stage. Feature frozen version. -- Generally the stage just before submission to the Customisation Database, and the stage that is usually listed while the Extension is in the validation queue.</li>
                        <li>[ABD] - An Extension that is no longer in development and the Extension Author has abandoned is listed with this prefix. The Extension Author may close (lock) the topic him or herself. If the Extension Author wishes to continue development of an abandoned Extension, he or she should PM a MOD Team member to re-open the topic.</li>
                    </ol>
                </li>

                <br />

                <li><strong>Starting an Extension Development Topic</strong><br /><br />
                    <ol>
                        <li>Below is the recommended Topic Format for your in-Development Extension Topic. However, its usage is optional and may be modified to suit your needs:<br />

                            <br />

                            <dl class="codebox">
                                <dt>Code: <a href="#" onclick="selectCode(this); return false;">Select all</a></dt>
                                <dd><code>&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Extension Name:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; The title of your Extension<br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Author:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; &#91;url=http://www.phpbb.com/community/memberlist.php?mode=viewprofile&amp;u=xxxxx&#93;&#91;b&#93;Author Username&#91;/b&#93;&#91;/url&#93;<br /><br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Extension Description:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93;: Description of your Extension<br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Extension Version:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93;: Current version of your Extension<br /><br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Requirements:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; If the Extension has any special requirements (such as PHP5.4), enter those here. ** Optional **<br /><br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Features:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; Feature List. Use the &#91;list&#93;&#91;/list&#93; BBCode for easier readability. ** Optional **<br /><br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Screenshots:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; Screenshots for the Extension ** Optional **<br /><br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Demo URL:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; URL to the DEMO for the Extension ** Optional **<br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Demo Username:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; If your demo requires login, enter the username required to view the demo -- see guidelines on Extension Demos<br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Demo Password:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; The password for the above login<br /><br />&#91;color=purple&#93;&#91;size=120&#93;&#91;b&#93;Extension Download:&#91;/b&#93;&#91;/size&#93;&#91;/color&#93; Enter the URL of the Extension to download<br /></code></dd>
                            </dl>
                        </li>
                    </ol>
                </li>

                <br />

                <li><strong>Extension Downloads</strong><br /><br />
                    <ol>
                        <li>Extensions that are listed as either [BETA] or [RC] are required to have a download accessible as a link.</li>
                        <li>Extensions files may not be posted directly in the topic but must be made available as a download instead.</li>
                        <li>All downloads must be publicly accessible. A direct download link is preferred but a link to a page where the Extension can be downloaded is also accepted. In the latter case the page or download link must be in English. Downloads that require registration to access will not be allowed.</li>
                    </ol>
                </li>

                <br />

                <li><strong>Extension Development Requirements</strong><br /><br />
                    <ol>
                        <li>The Extensions in Development forum is not meant as a release forum. The purpose of this forum is to be a step in the development process for Extension Authors to receive feedback on their Extensions so that a more complete Extension is submitted to the Customisation Database. Extensions posted must be posted with the intent of the Extension Author to submit the Extension to the Customisation Database.</li>
                        <li>All Extensions posted in the Extensions in Development Forum are subject to the same requirements as for the Customisation Database with regards to packaging and license. These requirements will be announced in due time.</li>
                        <li>If an Extension is listed as in Development and the Author does not intend for the Extension to be submitted to the Customisation Database, or the Extension cannot meet the requirements for the Customisation Database (including license or packaging), the Extension topic may be locked.</li>
                    </ol>
                </li>

                <br />

                <li><strong>Abandoned Extensions Forum</strong><br /><br />
                    <ol>
                        <li>Extensions that have been marked as abandoned mean that they are no longer being supported by the original author of the Extension. To ensure that the Extensions in Development Forum is kept in a clean way and the Extension is being actively supported by the Extension author, Extensions that are marked abandoned will be moved by a MOD Team member to the Abandoned Extensions forum.</li>
                        <li>The purpose of the Abandoned Extensions forum is to allow users of the phpBB software to be able to pickup where the original Extension author left off. In other words, to take ownership of the Extension as is allowed per the GNU GPL.</li>
                        <li>There is no support within the abandoned Extensions forum and posting of topics and/or replies is not permitted.</li>
                        <li>If there is a Extension within this forum that you would like to take over, please feel free to start a new topic in the Extensions in development forum. Also please remember that all copyrights MUST remain intact from the abandoned Extension when you take over the Extension per the GNU GPL. You may also contact a member of the MOD Team so that a link to your new topic is added to the abandoned Extension's topic.</li>
                    </ol>
                </li>

                <br />
            </ol>
        </div>

        <div id="extras">
            {{ include('PhpbbWebsiteInterfaceBundle:Extensions:menu.html.twig') }}
        </div>
    </div>
{% endblock %}
