{% extends ':base:base.html.twig' %}

{% block title %}Extension Validation Policy{% endblock title %}

{% block body %}
<div id="page-body">

	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
			<strong>&#8249;</strong> <a href="{{ extensions_general }}">Extension Validation Policy</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep mods">Extension Validation Policy</h2>
		<p>The following policies should be followed when developing extensions for phpBB. This ensures consistent and quality code that is up to standard of phpBB. If you have any questions about any of the policies, feel free to discuss them in the <a href="{{ forum_extensions_31x_writers }}">Extension Writers Forum</a>.</p>

		<h3>1. General</h3>
		<ol type="a">
			<li>Avoid using the deprecated functions from phpBB 3.0. View updated functions from the <a href="https://wiki.phpbb.com/PhpBB3.1#Changes_to_Functions">wiki</a>.</li>
			<li>
                <h4>Composer:</h4>
				A composer.json file is required. Detailed information about this file can be found in the <a href="https://wiki.phpbb.com/Extension_meta_data">wiki</a>.
            </li>
			<li>
				<h4>Coding Guidelines</h4>
				The phpBB 3.1 <a href="https://area51.phpbb.com/docs/31x/coding-guidelines.html">Coding Guidelines</a> should be followed as much as possible. This means that all files should follow these guidelines, including PHP, JavaScript, and HTML files. This is to ensure maximum readability by the phpBB Extensions Team. Third-party libraries are the only exceptions and do not have to follow the coding guidelines. It is also required to use the English language for all table names, variable names and comments. The primary language for phpBB and extensions is English.
            </li>
			<li>
				<h4>Vendor Prefixing</h4>
				All events, services and/or routes in an extension should be prefixed with the extension's vendor name and package name, e.g.:
                <ul>
                    <li>Events: vendor.extension.custom_event</li>
                    <li>Services: vendor.extension.custom.service</li>
                    <li>Routes: vendor_extension_custom_route</li>
                </ul>

				It is forbidden to use <strong>phpbb</strong> or <strong>core</strong> to prefix events, services and routes.
			</li>
			<li>Extensions should always provide files for the English language and prosilver style.</li>
			<li>
				<h4>Privacy</h4>
				For privacy reasons it is not allowed to send private information (including but not limited to posts, user information, etc.) to any remote website or remote server. Any extension that does send information to a remote website or remote server will be denied for this reason. Exceptions to this rule, although rare, will be handled on a case-by-case basis.
			</li>
			<li><h4>General</h4>
                <ul>
                <li>Tabs are used instead of spaces for indenting. A tab is defined as four spaces in this instance.</li>
                <li>Included third-party libraries should be up-to-date. They should be kept un-modified as much as possible. It is also preferred to use Composer to manage third-party libraries if possible.</li>
                <li>PHP files are saved as UTF-8 Encoded with UNIX line endings (LF).</li>
			    <li>PHP files do not contain a (Byte Order Mark) BOM.</li>
                </ul>
            </li>
		</ol>
		
		<h3>2. PHP Files</h3>
		<ol type="a">
			<li>Only functions that exist before and in PHP 5.3.3 may be used by default. If you want to use functions that were added in a later version of PHP you need to mention this requirement within the description.</li>
			<li>No un-initialised variables or indices.</li>
			<li>Proper file headers and php DocBlocks are used.‬‬</li>
			<li>Braces { and } should be on newlines.</li>
			<li>Contain no ‪magic numbers‬‬ [<a href="https://wiki.phpbb.com/Magic_numbers">wiki</a>]</a>.</li>
			<li>IN_PHPBB [<a href="https://wiki.phpbb.com/IN_PHPBB">wiki</a>]‬ check must be used in all included files, unless they contain only classes or interfaces. For example, function files and language files.</li>
			<li><a href="https://area51.phpbb.com/docs/31x/coding-guidelines.html#general">$request->variable()</a> function is used instead of $_POST, $_GET, or $_REQUEST to get user input.</li>
			<li>Integer variables from $request->variable() are cast as integers using the form: $request->variable('var', 0); and not $request->variable ('var', '0');.</li>
			<li>$_SERVER variables are properly sanitised, (many $_SERVER indexes can be user manipulated). It is preferred to use $request->server() instead of $_SERVER, e.g.: $request->server('REMOTE_ADDR'), as these will be properly sanitised by the $request method.</li>
			<li>The $user object also contains several sanitised variables about the user, for example: $user->ip (user's REMOTE_ADDR) and $user->page (name of page currently viewed by user).</li>
			<li><a href="https://area51.phpbb.com/docs/31x/coding-guidelines.html#sql‬‬">phpBB3 DBAL</a> is used instead of database specific SQL functions.
				<ol>
					<li>User-input string variables are properly sanitised using $db->sql_escape(); [<a href="https://wiki.phpbb.com/Dbal.sql_escape">wiki</a>] when using variables in SQL queries.</li>
					<li>int and float variables are enforced type-casting as (int) and (float) when inserting into SQL queries.</li>
					<li>$db->sql_build_query(); [<a href="https://wiki.phpbb.com/Dbal.sql_build_query">wiki</a>] is used on large SQL queries (e.g.: if the query contains joins).</li>
					<li>$db->sql_build_array(); [<a href="https://wiki.phpbb.com/Dbal.sql_build_array">wiki</a>] is used on SQL INSERT and SQL UPDATE queries.</li>
					<li>$db->sql_multi_insert();‪ [<a href="https://wiki.phpbb.com/Dbal.sql_multi_insert‬‬">wiki</a>] is used when performing multiple SQL INSERT statements.</li>
					<li>$db->sql_in_set(); [<a href="https://wiki.phpbb.com/Dbal.sql_in_set">wiki</a>] is used for SQL IN() WHERE statements.‪</li>
					<li>$db->sql_query_limit(); [<a href="https://wiki.phpbb.com/Dbal.sql_query_limit">wiki</a>] is used instead of LIMIT in SQL queries.</li> ‪‬
					<li>Static SQL queries should be cached.‪</li>
					<li>SQL Queries within loops should be avoided.</li>
				</ol>
			</li>			
			<li>helper->error(); and/or trigger_error(); [<a href="https://wiki.phpbb.com/Trigger_error">wiki</a>] are used for error handling and user messages instead of die(); or similar.</li>
			<li>login_forum_box(); or login_box(); [<a href="http://wiki.phpbb.com/Login_box">wiki</a>] is used for login.</li>
			<li>confirm_box(); [<a href="http://wiki.phpbb.com/Confirm_box">wiki</a>] is used for the user to confirm sensitive actions (such as deleting items).</li>
			<li>URLs pointing to phpBB files call append_sid(); [<a href="http://wiki.phpbb.com/Append_sid">wiki</a>]  to correctly append the session id.</li>
		</ol>

		<h3>3. Template Files</h3>
		<ol type="a">
			<li>No hard-coded PHP in template files.</li>
			<li>All prosilver HTML is valid HTML5.</li>
			<li>English language images are supplied as necessary.</li>
		</ol>			

		<h3>4. Migrations</h3>
		<ol type="a">
			<li>Database and permission changes should be handled with migrations. All subsequent database changes should be made in new migration files.</li>
			<li>Old migration files should never be altered or deleted.</li>
			<li>Extensions should never delete phpBB core tables or columns.</li>
		</ol>			

		<h3>5. JavaScript</h3>
		<ol type="a">
			<li>Included JavaScript frameworks should use a template &lt;!--DEFINE --&gt; to prevent duplicate inclusion. For example:<br />
				
				<br />
				
				<dl class="codebox">
					<dt>Code: <a href="#" onclick="selectCode(this); return false;">Select all</a></dt>
					<dd><code>
&lt;!-- IF not $INCLUDEDED_HIGHSLIDEJS --&gt;
   &lt;script type=&quot;text/javascript&quot; src=&quot;highslide-full.js&quot;&gt;&lt;/script&gt;
   &lt;!-- DEFINE $INCLUDEDED_HIGHSLIDEJS = true --&gt;
&lt;!-- ENDIF --&gt;<br /></code></dd>
				</dl>
				
				<br />
				Some example template varaible definitions to use with common libraries:
				<ul>
					<li>HighSlideJS: $INCLUDEDED_HIGHSLIDEJS</li>
					<li>Font Awesome: $INCLUDEDED_FONTAWESOME</li>
					<li>ColorBox JS: $INCLUDEDED_COLORBOXJS</li>
					<li>MoTools JS Library; $INCLUDEDED_MOTOOLSJS</li>
					<li>Dojo JS Library: $INCLUDEDED_DOJOJS</li>
				</ul>
				<br />
				Discussion of this technique can be found <a href="https://www.phpbb.com/community/viewtopic.php?f=20&t=2144227&p=13076522#p13076522">here</a>.
			</li>
			<li>Include JavaScript files with the template function: &lt;!-- INCLUDEJS filename.js --&gt; [<a href="https://wiki.phpbb.com/New_Template_Commands_in_3.1">wiki</a>]</li>
			<li>Include CSS files with the template function: &lt;!-- INCLUDECSS filename.css --&gt; [<a href="https://wiki.phpbb.com/New_Template_Commands_in_3.1">wiki</a>]</li>
		</ol>			

		<h3>6. Licenses</h3>
		<ol type="a">
			<li>Extensions should be released under GPL v2. Included frameworks should use GPL v2 or a compatible license. See <a href="http://www.gnu.org/licenses/gpl-faq.html#AllCompatibility">http://www.gnu.org/licenses/gpl-faq.html#AllCompatibility</a></li>
			<li>A license.txt file should be included with the extension in the root directory of the extension.</li>
		</ol>			

		<h3>7. Packaging and Version</h3>
		<ol type="a">
			<li>Extensions are packaged as follows:<br />
				<strong>/vendorname/extensionname/</strong><br />
				The names should be alphanumeric. (So no dashes or underscores. Capitals are allowed.)<br />
				For example, the following common extension files, composer.json, ext.php and license.txt would be located at:<br />

				<strong>/vendorname/extensionname/composer.json<br />
					/vendorname/extensionname/ext.php<br />
					/vendorname/extensionname/license.txt</strong>

			</li>
			<li>Semantic version numbers should be used. Only stable versions are allowed in the Extension Database. For every update the version number should be increased.</li>
			<li>Language files are within the language directory and correct lang_name (ISO) translations are used. Template and theme files contained in their respective directories.</li>
		</ol>			

	</div>

	<div id="extras">
		{{ include('PhpbbWebsiteInterfaceBundle:Extensions:menu.html.twig') }}
	</div>
</div>
{% endblock %}
