{% extends ':base:base.html.twig' %}

{% block title %}Extensions{% endblock title %}

{% block body %}
<div id="page-body">

<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
	<strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
	<strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
	</li>
</ul>

<div id="main">
	<h2 class="imgrep mods">Extensions</h2>
    <p>Extensions are downloadable packages which can be installed on phpBB 3.1 boards to add a new feature or component.</p>
    <p>If you are an existing developer or a phpBB board owner thinking about learning PHP there has been no better time to get involved in the MOD community. The extensions system for edit-less changes in phpBB 3.1 "Ascraeus" makes customising phpBB easier than ever. Existing MOD developers will be glad to know that the best parts of phpBB development such as the powerful database abstraction layer, templating and language systems have been retained for phpBB 3.1, so the transition from writing MODs to extensions is a smooth one.</p>

    <p>Extensions are the natural successor to modifications, the development and support of which have defined the community's involvement in the phpBB project for over a decade. Unlike modifications, which often required a developer to alter the phpBB codebase to achieve a desired functionality, extensions enable a developer to develop new functionality for phpBB that is self-contained and void of actual code changes. As such, administrators wishing to include new functionality on their boards simply have to upload a set of files (the “extension”) to their webspace and do not have to concern themselves with editing any files.</p>

    <h2 class="title">Extensions Team</h2>

    <h3><a href="{{ EXTENSIONS_TEAM_OVERVIEW }}">Extensions Team Overview</a></h3>
    <p>Important information pertaining to the activities of the Extensions Team, and how you can become involved.</p>

    <h3><a href="{{ EXTENSIONS_OFFICIAL_EXTENSIONS }}">phpBB Official Extensions</a></h3>
    <p>Here you can download and contribute to extensions built by phpBB for phpBB.</p>

    <h3><a href="{{ EXTENSIONS_CUSTOMISATION_DATABASE }}">Extensions Database</a></h3>
    <p>Here you can download and submit completed extensions.</p>

    <h2 class="title">Users</h2>

    <h3><a href="#">Finding Extensions</a></h3>
    <p>Instructions on how to find the extension you are looking for.</p>

    <h3><a href="{{ EXTENSIONS_INSTALLING }}">Installing Extensions</a></h3>
    <p>How to install and enable extensions on a phpBB board. Also how to disable and delete an extension from a board.</p>

    <h3><a href="#">Extension Support</a></h3>
    <p>Information on where to go if you are experiencing problems with an extension you have installed.</p>

    <h2 class="title">Developers</h2>

    <div class="column1">
        <h3><a href="{{ EXTENSIONS_WIKI }}">Extension Development Wiki</a></h3>
        <p>Official phpBB Wiki articles for extension development.</p>

        <h3><a href="{{ EXTENSIONS_IN_DEVELOPMENT_FORUM }}">Extensions in Development Forum</a></h3>
        <p>A forum for extension authors to post and receive feedback on their extensions while in development.</p>

        <h3><a href="{{ EXTENSIONS_WRITERS_FORUM }}">Extension Writers Forum</a></h3>
        <p>A forum for extension authors to discuss extension development.</p>

        <h3><a href="{{ EXTENSIONS_PRE_VALIDATOR }}">EPV</a></h3>
        <p>The Extension Pre Validator is a tool you can use to check an extension for basic errors prior to submitting it to the Extensions Database.</p>
    </div>

    <div class="column2">
        <h3><a href="{{ EXTENSIONS_RECOGNISED_DEVELOPER }}">Recognised Extension Developers</a></h3>
        <p>Recognised Extension Developers are developers who have been specially recognised by the Extensions Team.</p>

        <h3><a href="{{ EXTENSIONS_QUICKINSTALL }}">QuickInstall</a></h3>
        <p>An extension development tool that allows users to set up multiple phpBB installations with one mouse click.</p>

        <h3><a href="{{ EXTENSIONS_RULES }}">Rules and Guidelines</a></h3>
        <p>View the full list of rules and guidelines for extensions.</p>

        <h3><a href="{{ EXTENSIONS_PHPBB_CODING_GUIDELINES }}">phpBB Coding Guidelines</a></h3>
        <p>The guidelines extension authors should follow when writing an extension for phpBB.</p>
    </div>

    <span class="clear"></span>
</div>

<div id="extras">
	{{ include('PhpbbWebsiteInterfaceBundle:Extensions:menu.html.twig') }}
</div>
</div>
{% endblock %}
