{% extends ':base:base.html.twig' %}

{% block title %}Extensions{% endblock title %}

{% block body %}
    <div id="page-body">

        <ul class="linklist navlinks">
            <li><a href="{{ home_path }}">Home</a>
                <strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
                <strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
            </li>
        </ul>

        <div id="main">
            <h2 class="imgrep mods">Extensions</h2>
            <p>If you are an existing developer or a phpBB board owner thinking about learning PHP there has been no better time to get involved in the MOD community. The extensions system for edit-less changes in phpBB 3.1 "Ascraeus" makes customising phpBB easier than ever. Existing MOD developers will be glad to know that the best parts of phpBB development such as the powerful database abstraction layer, templating and language systems have been retained for phpBB 3.1, so the transition from writing MODs to extensions is a smooth one.</p>

            <h3>Overview</h3>
            <p>Extensions are the natural successor to modifications, the development and support of which have defined the community's involvement in the phpBB project for over a decade. Unlike modifications, which often required a developer to alter the phpBB codebase to achieve a desired functionality, extensions enable a developer to develop new functionality for phpBB that is self-contained and void of actual code changes. As such, administrators wishing to include new functionality on their boards simply have to upload a set of files (the “extension”) to their webspace and do not have to concern themselves with editing any files.</p>

            <div class="column1">

                <h3><a href="{{ EXTENSIONS_RULES }}">Rules and Policies</a></h3>
                <p>Explanations of the rules and policies affecting phpBB extensions and the Extension Team.</p>

                <h3><a href="{{ EXTENSION_GUIDELINES }}">phpBB3 Coding Guidelines</a></h3>
                <p>The guidelines Extension authors should follow when writing a extension for phpBB3.1.</p>

            </div>

        </div>

        <div id="extras">
            {{ include('PhpbbWebsiteInterfaceBundle:Extensions:menu.html.twig') }}
        </div>
    </div>
{% endblock %}
v