{% extends ':base:base.html.twig' %}

{% block title %}Extensions Insta-Deny Policy{% endblock title %}

{% block body %}
<div id="page-body">

	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
			<strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
			<strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
			<strong>&#8249;</strong> <a href="{{ extensions_instadeny }}">Insta-Deny Policy</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep mods">phpBB Extensions Insta-Deny Policy</h2>
		<p>Insta-Deny is meant to detect basic problems in an extension when submitted for validation. Extensions are checked against the Extension Pre Validator (EPV) for standard problems. In case a standard problem is found the extension will be Insta-Denied within 72 hours after submission. After this, it either means the extension passed the Insta-Deny requirements or the validators were too late in denying it.</p>
		
		<p>In case EPV finds a problem, the validator or JR validator will look at the code where the problem is located and decide if it is a correct usage of this code or not. All problems are looked at on a case-by-case basis as there can be valid uses of certain things EPV detects.</p>

		<p>If a validator or JR validator decides that this is a problem it will be Insta-Denied. The validator has the final decision. In cases where the validator is not sure, the final decision is made by the validation team leader.</p>
		
		<h2 class="title">Common causes for an Insta-Deny</h2>
		<p>There are certain conditions that are always reason for an Insta-Deny due to the problems they can cause later in the validation process.</p>

		<ul>
			<li>PHP syntax errors. On submission, EPV will make sure there are no PHP syntax errors in the extension.</li>
			<li>Incorrectly named vendor and package names (must be alphanumeric only and must begin with a letter).</li>
			<li>Invalid composer.json file syntax.</li>
			<li>Missing a British English (en) language translation.</li>
			<li>Missing a Prosilver template for any extension style files (except when using the “all” template folder).</li>
			<li>Extension vendor name cannot be <strong>phpbb</strong> or <strong>core</strong>.</li>
			<li>Not using the DBAL. It’s always required to use the DBAL function in your extension.</li>
			<li>Not using migration files to perform database changes.</li>
			<li>For all other problems EPV finds, it’s a case by case decision if it’s allowed or not.</li>
		</ul>
 
		<h2 class="title">Preventing an Insta-Deny</h2>
		<p>An Insta-Deny can be prevented by using EPV before you submit your extension. If there are any problems you will receive them in a report from EPV. In case you have any questions regarding this report please feel free to ask in <a href="{{ forum_extensions_31x_writers }}">Extension Writers Forum</a>. On extension submission, the EPV results will be shown and you should act, if appropriate, upon them.</p>
	</div>

	<div id="extras">
		{{ include('PhpbbWebsiteInterfaceBundle:Extensions:menu.html.twig') }}
	</div>
</div>
{% endblock %}
