<div class="mini-panel sections">
	<div class="inner">
		<h3><a href="{{ extensions_path }}">Extensions</a></h3>
		<ul class="menu">
			<li><a hre="{{ extensions_cdb }}">Extensions Database</a></li>
			<li><a href="{{ forum_extensions_31x }}">3.1.x Extensions Forums</a></li>
			<li><a href="{{ extensions_offical_exts }}">Official Extensions</a></li>
			<li class="last"><a href="{{ extensions_team_overview }}">Extensions Team</a></li>
		</ul>
	</div>
</div>
