<div class="mini-panel sections">
    <div class="inner"><span class="corners-top"><span></span></span>
        <h3><a href="{{ extensions_path }}">Extensions</a></h3>
        <ul class="menu">
            <li><a hre="{{ EXTENSIONS_CUSTOMISATION_DATABASE }}">Extensions Database</a></li>
            <li><a href="{{ FORUM_EXTENSIONS_31X }}">3.1.x Extensions Forums</a></li>
            <li><a href="{{ EXTENSIONS_OFFICIAL_EXTENSIONS }}">Official Extensions</a></li>
            <li class="last"><a href="{{ EXTENSIONS_TEAM_OVERVIEW }}">Extensions Team</a></li>
        </ul>
        <span class="corners-bottom"><span></span></span></div>
</div>
