{% extends ':base:base.html.twig' %}

{% block title %}Extensions Development Team{% endblock title %}

{% block body %}
    <div id="page-body">

        <ul class="linklist navlinks">
            <li><a href="{{ home_path }}">Home</a>
                <strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
                <strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
                <strong>&#8249;</strong> <a href="{{ extensions_offical_exts_TEAM }}">Extensions Development Team</a>
            </li>
        </ul>

        <div id="main">
            <h2 class="imgrep mods">Extensions Development Team</h2>
            <p>The Extensions Development Team are Extension Authors that work under the mentorship of the Extensions Team to create and maintain phpBB's <a href="{{ extensions_offical_exts }}">Official Extensions</a>. If you would like to become an Extensions Development Team member, please read the requirements below, and if you meet them, you can apply to become an Extensions Development Team member.</p>

            <h3>What are the requirements?</h3>

            <ul>
                <li>You are an Extension Author/Writer.</li>
                <li>You have submitted Extensions to the Customisation Database.</li>
                <li>You are able to communicate well in English.</li>
                <li>Understand how the phpBB code works.</li>
                <li>An understanding of the Customisation Database Requirements and policies.</li>
            </ul>
        </div>

        <br />

        <div id="extras">
            {{ include('PhpbbWebsiteInterfaceBundle:Extensions:menu.html.twig') }}
        </div>
    </div>
{% endblock %}
