{% extends ':base:base.html.twig' %}

{% block title %}Extensions Database repack policy{% endblock title %}

{% block body %}
<div id="page-body">

    <ul class="linklist navlinks">
        <li><a href="{{ home_path }}">Home</a>
            <strong>&#8249;</strong> <a href="{{ cdb_path }}">Customise phpBB</a>
            <strong>&#8249;</strong> <a href="{{ extensions_path }}">Extensions</a>
            <strong>&#8249;</strong> <a href="{{ EXTENSIONS_RULES }}">Rules and Guidelines</a>
        </li>
    </ul>

    <div id="main">
        <h2 class="imgrep mods">Extensions Database repack policy</h2>

        <p>All extensions submitted to the Extensions Database can be repacked if the extension author gives approval for the Extensions Team to repack their extension upon submission. A repack will be done when an Extensions Team validator detects a basic problem within the extension that would prevent its approval. This will only be done when the issue is small. Whether an extension is repacked is determined case-by-case when this issue arises. The Extensions Team validation leader has the final word over this decision.</p>

		<h2 class="title">When we do repack</h2>
		<p>The Extensions Team will only repack an extension if its author has given the Extensions Team permission to do so. If the author has not given permission, the extension will be denied. The general rule of thumb used to decide whether to repack is: if it will take the Extensions Team less time to repack the extension as opposed to re-validating it for only this issue, then it will be repacked.</p>

		<p>The following are some example problems where a MOD has been repacked in the past:</p>
		<ul>
			<li>An HTML error.</li>
			<li>Packaging errors.</li>
			<li>Using backticks in SQL queries.</li>
			<li>Missing &lt;link&gt; tags.</li>
		</ul>

		<h2 class="title">When we do not repack</h2>
		<p>An extension will not be repacked in the following cases, even if it requires simple changes. The reason for this is mostly because the extension hasn't been thoroughly tested prior to submission.</p>
		<ul>
			<li>The extension cannot be installed. If the installation failed the extension will be denied.</li>
			<li>The extension contains a parse error or PHP notice.</li>
			<li>The extension doesn't work as expected.</li>
		</ul>
    </div>

    <div id="extras">
        {{ include('PhpbbWebsiteInterfaceBundle:Extensions:menu.html.twig') }}
    </div>
</div>
{% endblock %}
