{% extends ':base:base.html.twig' %}

{% block title %}Customise{% endblock title %}

{% block body %}
<div id="page-body">
<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
	<strong>&#8249;</strong> <a href="{{ customise_path }}">Customise</a>
	</li>
</ul>

<div id="main">
	<h2 class="imgrep customise">Customise</h2>
	<div class="column1">
		<h3><a href="{{ extensions_path }}">Extensions</a></h3>
		<p>Here you will find guides on how to create your own extensions and use install them on your forum for phpBB 3.1. You will also find the extensions database, where you can download extensions for phpBB.</p>
		<h3><a href="{{ mods_path }}">Modifications</a></h3>
		<p>Here you will find guides on how to use them to create your own modifications for phpBB 3.0. You will also find the MODs database, where you can download MODs for phpBB.</p>
	</div>
	<div class="column2">
		<h3><a href="{{ styles_path }}">Styles</a></h3>
		<p>Here you will find information on how to use them to use styles for phpBB3. You will also find the styles database here, where you can download styles for phpBB.</p>
	</div>
</div>
<div id="extras">
	<div class="mini-panel">
		<div class="inner">
		<h3>Modifications Quick Links</h3>
		<ul class="menu">
			<li><a href="{{ mods_path }}">Modifications</a></li>
			<li><a href="{{ mods_db_path }}">MODs Database</a></li>
			<li><a href="{{ FORUM_MODS_OLYMPUS }}">Modifications Forums</a></li>
			<li><a href="{{ MODS_AUTOMOD }}">AutoMOD</a></li>
			<li><a href="{{ MODS_UMIL }}">UMIL</a></li>
			<li class="last"><a href="{{ kb_path }}">Knowledge Base</a></li>
		</ul>
		</div>
	</div>

	<div class="mini-panel">
		<div class="inner">
		<h3>Styles Quick Links</h3>
		<ul class="menu">
			<li><a href="{{ styles_path }}">Styles</a></li>
			<li><a href="{{ styles_db_path }}">Styles Database</a></li>
			<li><a href="{{ STYLES_DEMO_OLYMPUS }}">Styles Demo</a></li>
			<li><a href="{{ FORUM_STYLES }}">Styles Forums</a></li>
			<li class="last"><a href="{{ kb_path }}">Knowledge Base</a></li>
		</ul>
		</div>
	</div>
</div>
</div>
{% endblock %}
