{% extends ':base:base.html.twig' %}

{% block title %}Demo{% endblock title %}

{% block body %}
<div id="page-body">

<ul class="linklist navlinks">
	<li><a href="{{ home_path }}">Home</a>
	<strong>&#8249;</strong> <a href="{{ demo_path }}">Demo</a>
	</li>
</ul>

<div class="wide" id="main">
	<h2 class="imgrep">phpBB<sup>&reg;</sup> Demo</h2>
	<div class="floatleft">
		<div class="floatright launch">
			<a href="{{ DEMO_30X }}"><img src="{{ asset('/assets/images/images/icons/launch.png') }}" /></a><br />
			<p><a href="{{ DEMO_30X }}">Launch<br />Demo</a></p>
		</div>
		<p>
			Millions of people use phpBB on a daily basis, making it the most widely used open source bulletin board system in the world. Give it a try and see for yourself why we're so popular.
		</p>
		<p>
			This demo gives you full access to a phpBB installation to login, post, configure, create forums, and just about everything else you can do with phpBB.
		</p>
		<ul>
			<li>Username: <strong>administrator</strong> Password: <strong>administrator</strong>
			<li>The demo will reset after 1 hour of use
			<li>Your unique demo board is tied to your IP address.
			<li>Several <abbr title="Administration Control Panel">ACP</abbr> features are unavailable in the demo, such as database backup &amp; restore.
		</ul>
		<h3>Get started with phpBB!</h3>
		<ul>
			<li><a href="{{ downloads_path }}">Download phpBB</a>
			<li><a href="{{ documentation_path }}">phpBB Documentation</a>
			<li><a href="{{ community_path }}">Community Forums</a>
		</ul>
		<p>
			&nbsp;
		</p>
	</div>
	<div class="floatright">
		<a href="{{ DEMO_30X }}"><img src="{{ asset('assets/images/files/images/screenshots/phpbb-index.png') }}" /></a>
		<br />
		<p><em>phpBB index page</em></p>
	</div>

</div>

</div>
{% endblock %}
